{% extends 'base_admin.html' %}
{% set active_page = 'pedati' %}

{% block title %}
    <title>Admin | Edit Data</title>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
            <div class="myAlert-top alert alert-{{ messages[0][0] }}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {% for message in messages %}
                        {% for key, value in message[1].items() %}
                            <strong>{{ key }} :</strong> {{ value }}<br>
                        {% endfor %}
                    {% endfor %}
            </div>
      {% endif %}
    {% endwith %}
        <h2 class="fw-medi">
            Edit Data
        </h2>
        <form enctype="multipart/form-data" method="post" action="{{ url_for('admin_pedati.edit', email=team.email) }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Nama</label>
                    <input type="text" name="name" value="{{ team.name }}" class="form-control" placeholder="Masukkan nama">
                </div>
                <div class="col-md-6">
                    <label>Jabatan</label>
                    <input type="text" name="jabatan" value="{{ team.role }}" class="form-control" placeholder="Masukkan jabatan">
                </div>
                <div class="col-md-6 mt-3" style="display: none">
                    <label>Email</label>
                    <input type="email" name="email" value="{{ team.email }}" class="form-control" placeholder="Masukkan email">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Foto</label>
                    <input type="file" name="avatar" class="form-control">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Facebook</label>
                    <input type="text" name="facebook" value="{{ facebook.url }}" class="form-control" placeholder="Link Facebook">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Twitter</label>
                    <input type="text" name="twitter" value="{{ twitter.url }}" class="form-control" placeholder="Link Twitter">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Instagram</label>
                    <input type="text" name="instagram" value="{{ instagram.url }}" class="form-control" placeholder="Link Instagram">
                </div>
                <div class="col-md-6 mt-3">
                    <label>LinkedIn</label>
                    <input type="text" name="linkedin" value="{{ linkedin.url }}" class="form-control" placeholder="Link LinkedIn">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Bio</label>
                    <textarea name="bio" class="form-control" rows="3" placeholder="Masukkan bio">{{ team.desc }}</textarea>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_pedati.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Update</button>
        </div>
    </form>
{% endblock %}