{% extends 'base_admin.html' %}
{% set active_page = 'lumbungilmu' %}

{% block title %}
    <title>Admin | Tambah Data</title>
{% endblock %}

{% block css %}
        <style>
            .myAlert-top{
                top: 5px;
                left:2%;
                width: auto;
            }
        </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Tambah Data
    </h2>
    <form enctype="multipart/form-data" method="post" action="{{ url_for('admin_lumbungilmu.create') }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Judul</label>
                    <input type="text" name="judul" class="form-control" placeholder="Masukkan judul artikel">
                </div>
                <div class="col-md-3">
                    <label>Kategori</label>
                    <select name="category" class="form-control">
                        <option value="">Pilih Kategori</option>
                        {% for x in categories %}
                            <option value="{{ x._id }}">{{ x.category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Status</label>
                    <select name="status" class="form-control">
                        <option>Pilih Status</option>
                        <option value="true">Aktif</option>
                        <option value="false">Tidak Aktif</option>
                    </select>
                </div>
                <div class="col-md-6 mt-3">
                    <label>Gambar</label>
                    <input name="thumbnail" type="file" class="form-control">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Infografis</label>
                    <input name="infographic" type="file" class="form-control">
                </div>
                <div class="col-md-12 mt-3">
                    <label class="mb-3">Deskripsi</label>
                    <textarea id="summernote" name="content"></textarea>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_lumbungilmu.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Simpan</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script src="https://raw.githubusercontent.com/DiemenDesign/summernote-cleaner/master/summernote-cleaner.js"></script>
    <script>
        $('textarea#summernote').summernote({
            placeholder: 'Input konten artikel',
            tabsize: 2,
            height: 300,
            toolbar: [
                ['cleaner', ['cleaner']],
                ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr']],
                ['help', ['help']]
            ],
            cleaner:{
                  action: 'both', // both|button|paste 'button' only cleans via toolbar button, 'paste' only clean when pasting content, both does both options.
                  notStyle: 'position:absolute;top:0;left:0;right:0', // Position of Notification
                  icon: '<i class="note-icon-eraser"></i>',
                  badTags: ['style', 'script', 'applet', 'embed', 'noframes', 'noscript', 'html'], // Remove full tags with contents
                  badAttributes: ['style', 'start'], // Remove attributes from remaining tags
            }
        });
    </script>
{% endblock %}