{% extends 'base_admin.html' %}
{% set active_page = 'lumbungilmu' %}

{% block title %}
    <title>Admin | Edit Data</title>
{% endblock %}

{% block css %}
        <style>
            .myAlert-top{
                top: 5px;
                left:2%;
                width: auto;
            }
        </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Edit Data
    </h2>
    <form enctype="multipart/form-data" method="post" action="{{ url_for('admin_lumbungilmu.edit',id=article._id) }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Judul</label>
                    <input type="text" name="judul" class="form-control" placeholder="Masukkan judul artikel" value="{{ article.judul }}">
                </div>
                <div class="col-md-3">
                    <label>Kategori</label>
                    <select name="category" class="form-control">
                        <option value="{{ article.category }}">{{ article.category_name }}</option>
                            {% for x in categories %}
                                <option value="{{ x._id }}">{{ x.category }}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Status</label>
                    <select name="status" class="form-control">
                        {% if article.is_active == true %}
                            <option value="true">Aktif</option>
                            <option value="false">Tidak Aktif</option>
                        {% else %}
                            <option value="false">Tidak Aktif</option>
                            <option value="true">Aktif</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-md-6 mt-3">
                    <label>Gambar</label>
                    <input name="thumbnail" type="file" class="form-control">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Infografis</label>
                    <input name="infographic" type="file" class="form-control">
                </div>
                <div class="col-md-12 mt-3">
                    <label class="mb-3">Deskripsi</label>
                    <textarea id="summernote" name="content">{{ article.content }}</textarea>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_lumbungilmu.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Update</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script>
        $('textarea#summernote').summernote({
            placeholder: 'Input konten artikel',
            tabsize: 2,
            height: 300,
            toolbar: [
                ['cleaner', ['cleaner']],
                ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr']],
                ['help', ['help']]
            ],
        });
    </script>
{% endblock %}