{% extends 'base_admin.html' %}
{% set active_page = 'lumbungilmu' %}

{% block title %}
    <title>Admin | Header</title>
{% endblock %}

{% block css %}
        <style>
            .myAlert-top{
                top: 5px;
                left:2%;
                width: auto;
            }
        </style>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="myAlert-top alert alert-{{ messages[0][0] }}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for message in messages %}
            {% for key, value in message[1].items() %}
                <strong>{{ key }} :</strong> {{ value }}<br>
            {% endfor %}
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Tambah Data
    </h2>
    <form enctype="multipart/form-data" method="POST" action="{{ url_for('admin_lumbungilmu.header') }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-12">
                    <label>Gambar</label>
                    <input type="file" name="headerfile" class="form-control">
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_lumbungilmu.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Simpan</button>
        </div>
    </form>
{% endblock %}