{% extends 'base_admin.html' %}
{% set active_page = 'home' %}

{% block title %}
    <title>Admin | Tambah Data</title>
{% endblock %}

{% block content %}
    <h2 class="fw-medi">
        Tambah Data
    </h2>
    <form enctype="multipart/form-data" method="post" action="{{ url_for('admin_lumbungilmu.create') }}">
        <div class="box mt-4">
            <div class="row">

                <div class="col-md-12">
                    <h5 class="text-gray500 mb-0">
                        Iklan App
                    </h5>
                </div>
                <div class="col-md-6 mt-3">
                    <label>Judul Iklan App</label>
                    <input type="text" class="form-control" placeholder="Masukkan judul iklan">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Gambar</label>
                    <input type="file" class="form-control">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Deskripsi</label>
                    <textarea name="" rows="3" class="form-control" placeholder="Masukkan deskripsi iklan"></textarea>
                </div>
                <div class="gray-separator mt-4"></div>
                <div class="col-md-12">
                    <h5 class="text-gray500 mb-0">
                        Video
                    </h5>
                </div>
                <div class="col-md-6 mt-3">
                    <label>Judul</label>
                    <input type="text" class="form-control" placeholder="Masukkan judul video">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Link Video</label>
                    <input type="text" class="form-control" placeholder="Masukkan link video">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Deskripsi</label>
                    <textarea name="" rows="3" class="form-control" placeholder="Masukkan deskripsi video"></textarea>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_home.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <a href="" class="btn btn-primary mt-3">Simpan</a>
        </div>
    </form>
{% endblock %}