{% extends 'base_admin.html' %}
{% set active_page = 'home' %}

{% block title %}
    <title>Admin | Edit Data</title>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Edit Data
    </h2>
    <form enctype="multipart/form-data" method="post" action="{{ url_for('admin_home.edit') }}">
        <div class="box mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-gray500 mb-0">
                        Iklan App
                    </h5>
                </div>
                <div class="col-md-6 mt-3">
                    <label>Judul Iklan App</label>
                    <input type="text" name="content1title" class="form-control" value="{{ content1.title }}" placeholder="Masukkan judul iklan">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Gambar</label>
                    <input type="file" name="content1file" class="form-control">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Deskripsi</label>
                    <textarea name="content1subtitle" rows="3" class="form-control" placeholder="Masukkan deskripsi iklan">{{ content1.subtitle }}</textarea>
                </div>
                <div class="gray-separator mt-4"></div>
                <div class="col-md-12">
                    <h5 class="text-gray500 mb-0">
                        Video
                    </h5>
                </div>
                <div class="col-md-6 mt-3">
                    <label>Judul</label>
                    <input type="text" name="content2title" class="form-control" value="{{ content2.title }}" placeholder="Masukkan judul video">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Link Video</label>
                    <input type="text" name="content2link" class="form-control" value="{{ content2.content_media }}" placeholder="Masukkan link video">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Deskripsi</label>
                    <textarea name="content2subtitle" rows="3" class="form-control" placeholder="Masukkan deskripsi video">{{ content2.subtitle }}</textarea>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_home.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Update</button>
        </div>
    </form>
{% endblock %}