{% extends 'base_admin.html' %}
{% set active_page = 'home' %}

{% block title %}
    <title>Admin | Slider</title>
{% endblock %}

{% block content %}
    <h2 class="fw-medi">
        Tambah Data
    </h2>
    <form enctype="multipart/form-data" method="post" action="{{ url_for('admin_home.add_slider') }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-12">
                    <label>Gambar</label>
                    <input type="file" name="slide" class="form-control">
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_home.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Simpan</button>
        </div>
    </form>
{% endblock %}