<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %} {% endblock %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="favicon">
        {% block css %} {% endblock %}
        <style>
            body{
                background: #f7f7f7;
            }
        </style>
    </head>
    <body>
        <!-- <a href="{{ url_for('home.index') }}">
            <div class="wa-content" data-toggle="tooltip" data-placement="top" title="Kembali Kehalaman Website">
                <i class="fa fa-home"></i>
            </div>
        </a> -->
        <div class="page-sidebar-layout closed-sidebar">
            {% if current_user.is_contrib == True or current_user.role == 'admin' %}
                <div class="page-sidebar">
                    <div class="page-sidebar">
                        <!-- Burger menu -->
                        <button class="toggle-sidebar">
                            <img src="{{ url_for('static', filename='img/icon/menu.png') }}" alt="menu-burger" height="22">
                        </button>

                        <div class="company-detail text-center">
                            <div class="company-logo-container mb-5">
                                <a href="{{ url_for('admin_welcome.index') }}">
                                    <div class="company-logo mb-5" style="background-image: url('{{ url_for('static', filename='img/logo.png') }}'); width: 100px; height: 100px; box-shadow: unset; margin-left: -55px;"></div>
                                </a>
                            </div>
                        </div>
                        <!-- System menu -->
                        <ul class="sidebar-menu" id="system-menu" id="system-menu">
                            <li class="sidebar-menu-list has-child {% if active_page == 'home' %} active {% endif %}">
                                <a href="{{ url_for('admin_welcome.index') }}" class="has-child sidebar-menu-link {% if active_page == 'home' %} active {% endif %}">
                                    <div class="image" data-toggle="tooltip" data-placement="top" title="Home">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <span>
                                        Home
                                    </span>
                                </a>
                            </li>
                            {% if current_user.role == "admin" %}
                                <li class="sidebar-menu-list has-child {% if active_page == 'front' %} active {% endif %}">
                                    <a href="{{ url_for('admin_home.index') }}" class="has-child sidebar-menu-link {% if active_page == 'front' %} active {% endif %}">
                                        <div class="image" data-toggle="tooltip" data-placement="top" title="Front">
                                            <i class="fa fa-window-restore"></i>
                                        </div>
                                        <span>
                                            Front
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.role == "admin" or current_user.is_contrib %}
                                <li class="sidebar-menu-list has-child {% if active_page == 'lumbungilmu' %} active {% endif %}">
                                    <a href="{{ url_for('admin_lumbungilmu.index') }}" class="has-child sidebar-menu-link {% if active_page == 'lumbungilmu' %} active {% endif %}">
                                        <div class="image" data-toggle="tooltip" data-placement="top" title="Lumbung Ilmu">
                                            <i class="fa fa-book"></i>
                                        </div>
                                        <span>
                                            Lumbung Ilmu
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.role == "admin" %}
                                <li class="sidebar-menu-list has-child {% if active_page == 'berasmerah' %} active {% endif %}">
                                    <a href="{{ url_for('admin_berasmerah.index') }}" class="has-child sidebar-menu-link {% if active_page == 'berasmerah' %} active {% endif %}">
                                        <div class="image" data-toggle="tooltip" data-placement="top" title="Beras Merah">
                                            <i class="fa fa-file"></i>
                                        </div>
                                        <span>
                                            Beras Merah
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.role == "admin" %}
                                <li class="sidebar-menu-list has-child {% if active_page == 'pedati' %} active {% endif %}">
                                    <a href="{{ url_for('admin_pedati.index') }}" class="has-child sidebar-menu-link {% if active_page == 'pedati' %} active {% endif %}">
                                        <div class="image" data-toggle="tooltip" data-placement="top" title="Pedati">
                                            <i class="fa fa-address-book-o"></i>
                                        </div>
                                        <span>
                                            Pedati
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if current_user.role == "admin" %}
                                <li class="sidebar-menu-list has-child {% if active_page == 'pengguna' %} active {% endif %}">
                                    <a href="javascript:void(0)" class="has-child sidebar-menu-link {% if active_page == 'pengguna' %} active {% endif %}">
                                        <div class="image" data-toggle="tooltip" data-placement="top" title="Pengguna">
                                            <i class="fa fa-users text-cyan"></i>
                                        </div>
                                        <span>
                                            Pengguna
                                            <i class="fa fa-angle-down pull-right mt-1"></i>
                                        </span>
                                    </a>
                                    <ul class="child">
                                        <li class="sidebar-menu-list">
                                            <a href="{{ url_for('admin_pengguna.admin') }}" class="sidebar-menu-link">
                                                <span>
                                                    List Admin
                                                </span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-list">
                                            <a href="{{ url_for('admin_pengguna.visitor') }}" class="sidebar-menu-link">
                                                <span>
                                                    List Visitor
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="page-content">
                <div class="page-header d-flex">
                    {% if current_user.role != "visitor" %}
                        <div>
                        <button class="toggle-sidebar">
                            <img src="{{ url_for('static', filename='img/icon/menu.png') }}" alt="menu-burger" height="20">
                        </button>
                    </div>
                    {% endif %}
                    <div class="ml-auto">
                        <div class="user-avatar d-flex justify-content-end align-items-center">
                            <div class="dropdown" style="display: inline;position: static;">
                                <a class="dropdown-toggle avatar-link" href="javascript:void(0)" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ current_user.avatar_url }}" alt="" class="avatar rounded-circle mr-2" style="border: 3px #f7f7f7 solid;">
                                    <span class="name fw-medium middle">
                                        {{ current_user.username }}
                                        <i class="fa fa-angle-down ml-1"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
                                    <ul class="user-dropdown-link">
                                        <li>
                                            <a href="{{ url_for('admin_profile.index') }}" class="text-gray500">
                                                <img src="{{ url_for('static', filename='img/icon/user.png') }}" class="avatar rounded-circle mr-2" style="vertical-align: middle;">
                                                Edit & Lengkapi Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('home.logout') }}" class="text-danger">
                                                <img src="{{ url_for('static', filename='img/icon/logout.png') }}" class="avatar rounded-circle mr-2" style="vertical-align: middle;">
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <section class="content" >
                        <div class="container">
                            {% block content %} {% endblock %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block js %} {% endblock %}
    <script>
        $(document).ready(function(){
            $("[data-toggle=popover]").popover();

            $(document).on('click', '.sidebar-menu-list.has-child', function(){
                if($(this).find('.child').hasClass('opened')){
                    $('.sidebar-menu-list.has-child > .child').slideUp().removeClass('opened')
                    $(this).find('.child').slideUp(300).removeClass('opened')
                }else{
                    $('.sidebar-menu-list.has-child > .child').slideUp().removeClass('opened')
                    $(this).find('.child').slideDown(300).addClass('opened')
                }
            })

            $(document).on('click', '.toggle-sidebar', function(){
                $('.page-sidebar-layout').toggleClass('closed-sidebar')
                $('.profile-sidebar').toggleClass('opened-sidebar')
            })

            var window_size = $(window).width()
            if(window_size <= 1132){
                $('.page-sidebar-layout').addClass('closed-sidebar')
                $('.profile-sidebar').removeClass('opened-sidebar')					
            }

            $(document).on('click', '.module-link', function(){
                var target = $(this).data('target')
                $('.sidebar-module-title').hide()
                $('.sidebar-menu').hide()
                $('.module-link').removeClass('active')
                $(this).addClass('active')
                $('.sidebar-module-title#' + target + '-text').show()
                $('.sidebar-menu#' + target + '-menu').show()
            })

            $(document).on('click', '.dismiss-notification', function(){
                $('.notification-box').fadeOut()
            })

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        })
    </script>
</html>