<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block title %} {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="favicon">
    {% block css %} {% endblock %}
</head>
<body>
    <!-- Header -->
    <div class="small-header d-none d-md-block">
        <div class="d-flex ml-5 mr-5">
            <div class="text-gray500">
                <span>
                    <i class="fa fa-envelope mr-1"></i>
                    lumbungtani.indonesia@gmail.com
                </span>
                <span class="mx-2 text-gray400">|</span>
                <span>
                    <i class="fa fa-phone mr-1"></i>
                    085-649-003-889
                </span>
                <!-- <a href="https://www.instagram.com/lumbungtani.id/" target="_blank" class="instagram-color">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://twitter.com/LumbungTaniID" target="_blank" class="twitter-color ml-3">
                    <i class="fa fa-twitter"></i>
                </a> -->
            </div>
            <div class="ml-auto">
                {% if current_user.is_authenticated %}
                        <div class="user-avatar d-flex justify-content-end align-items-center">
                            <div class="dropdown" style="display: inline;position: static;">
                                <a class="dropdown-toggle avatar-link" href="javascript:void(0)" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ current_user.avatar_url }}" alt="" class="avatar rounded-circle mr-2" style="border: 3px #f7f7f7 solid;">
                                    <span class="name fw-medium middle">
                                        {{ current_user.username }}
                                        <i class="fa fa-angle-down ml-1"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
                                    <ul class="user-dropdown-link">
                                        <li>
                                            <a href="{{ url_for('admin_profile.index') }}" class="text-gray500">
                                                <img src="{{ url_for('static', filename='img/icon/user.png') }}" class="avatar rounded-circle mr-2" style="vertical-align: middle;">
                                                Edit & Lengkapi Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('home.logout') }}" class="text-danger">
                                                <img src="{{ url_for('static', filename='img/icon/logout.png') }}" class="avatar rounded-circle mr-2" style="vertical-align: middle;">
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="home-page-navbar">
        <div class="container">
            <div class="d-flex align-items-center h-100">
                <div>
                    <a href="{{ url_for('home.index') }}">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" height="70" class="dreamtalent-logo">
                    </a>
                </div>
                <ul class="navbar-menu d-none d-lg-block">
                    <li class="navbar-menu-item">
                        <a href="{{ url_for('home.index') }}"  class="navbar-menu-link {% if active_page == 'beranda' %} active {% endif %}">
                            Beranda
                        </a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="{{ url_for('lumbungilmu.index') }}"  class="navbar-menu-link {% if active_page == 'lumbungilmu' %} active {% endif %}">
                            Lumbung Ilmu
                        </a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="{{ url_for('gugurgunung.index') }}"  class="navbar-menu-link {% if active_page == 'gugurgunung' %} active {% endif %}">
                            Gugur Gunung
                        </a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="{{ url_for('berasmerah.index') }}"  class="navbar-menu-link {% if active_page == 'berasmerah' %} active {% endif %}">
                            Beras Merah
                        </a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="{{ url_for('pedati.index') }}"  class="navbar-menu-link {% if active_page == 'pedati' %} active {% endif %}">
                            Pedati
                        </a>
                    </li>
                </ul>
                <div class="ml-auto d-none d-lg-block">
                    <div class="d-flex align-items-center">
                        {% if current_user.is_authenticated %}
                            <div>
                                <a href="{{ url_for('home.login') }}" class="btn btn-primary px-4">
                                    Masuk Halaman Admin
                                </a>
                            </div>
                        {% else %}
                            <div class="mr-2">
                                <a href="{{ url_for('home.login') }}" class="btn btn-primary btn-login px-4">
                                    Masuk
                                </a>
                            </div>
                            <div>
                                <a href="{{ url_for('home.register') }}" class="btn btn-outline-primary px-4">
                                    Daftar
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="ml-auto d-block d-lg-none">
                    <button class="btn btn-primary" id="toggle-menu">
                        <img src="{{ url_for('static', filename='img/icon/menu_white.png') }}" alt="menu" height="14" style="margin-top: -2px;" class="mr-1">
                        MENU
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu" id="mobile-menu" style="display: none;">
        <div class="container">
            <div class="mt-3">
                <a href="{{ url_for('home.index') }}" class="navbar-menu-link fw-semi {% if active_page == 'beranda' %} active {% endif %}">
                    Beranda
                </a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('lumbungilmu.index') }}" class="navbar-menu-link fw-semi {% if active_page == 'lumbungilmu' %} active {% endif %}">
                    Lumbung Ilmu
                </a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('gugurgunung.index') }}" class="navbar-menu-link fw-semi {% if active_page == 'gugurgunung' %} active {% endif %}">
                    Gugur Gunung
                </a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('berasmerah.index') }}" class="navbar-menu-link fw-semi {% if active_page == 'berasmerah' %} active {% endif %}">
                    Beras Merah
                </a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('pedati.index') }}" class="navbar-menu-link fw-semi {% if active_page == 'pedati' %} active {% endif %}">
                    Pedati
                </a>
            </div>
            <div class="mt-3 mb-2">
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('home.login') }}" class="btn btn-primary btn-login px-4 mr-2">
                        Masuk
                    </a>
                    <a href="{{ url_for('home.register') }}" class="btn btn-outline-primary px-4">
                        Daftar
                    </a>
                {% else %}
                    <a href="{{ url_for('home.login') }}" class="btn btn-primary btn-login px-4 mr-2">
                        Masuk Halaman Admin
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-6 mb-4">
                    <h5 class="text-gray500 mb-4">
                        Hubungi Kami
                    </h5>
                    <div class="mt-3">
                        <table>
                            <tr>
                                <td style="width: 30px;" class="text-center">
                                    <img src="{{ url_for('static', filename='img/icon/phone-black.png') }}" alt="phone" height="13">
                                </td>
                                <td class="pl-3">
                                    085-649-003-889
                                </td>
                            </tr>
                            <tr style="height: 15px;">
                                <td></td>
                            </tr>
                            <tr>
                                <td style="width: 30px;" class="text-center">
                                    <img src="{{ url_for('static', filename='img/icon/mail-black.png') }}" alt="mail" height="13">
                                </td>
                                <td class="pl-3">
                                    lumbungtani.indonesia@gmail.com
                                </td>
                            </tr>
                            <tr style="height: 15px;">
                                <td></td>
                            </tr>
                            <tr>
                                <td style="width: 30px;" class="text-center">
                                    <img src="{{ url_for('static', filename='img/icon/location-black.png') }}" alt="location" height="13">
                                </td>
                                <td class="pl-3">
                                    Grojogan RT 004/ RW 002, Pandowoharjo, Sleman, D.I.Yogyakarta. 55512
                                </td>
                            </tr>
                        </table>
                    </div>

                    <h6 class="text-gray500 mt-4">
                        Follow Us
                    </h6>
                    <div class="mt-3">
                        <div class="d-flex">
                            <a href="https://twitter.com/LumbungTaniID" target="_blank">
                                <div class="social-media-circle mr-2">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>
                            <a href="https://www.instagram.com/lumbungtani.id/" target="_blank">
                                <div class="social-media-circle mr-2">
                                    <i class="fa fa-instagram"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 pr-md-3 pr-lg-5">
                    <h5 class="text-gray500 mb-4">
                        Kontak Kami
                    </h5>
                    <form method="post" action="{{ url_for('home.hubungi') }}">
                        <div class="mt-3">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="mt-3">
                            <input type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="mt-3">
                            <textarea name="subject" name="subject" rows="5" class="form-control" placeholder="Subject"></textarea>
                        </div>
                        <div class="mt-3">
                            <button type="submit" href="javascript:void(0)" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <div class="bottom-line">
        <div class="container">
            <div class="d-block d-md-flex">
                <div class="mr-0 mr-sm-3">
                    <small class="fw-medium">
                        <a href="{{ url_for('home.index') }}" class="text-light mr-3">Beranda</a>
                    </small>
                </div>
                <div class="mr-0 mr-sm-3">
                    <small class="fw-medium">
                        <a href="{{ url_for('lumbungilmu.index') }}" class="text-light mr-3">Lumbung Ilmu</a>
                    </small>
                </div>
                <div class="mr-0 mr-sm-3">
                    <small class="fw-medium">
                        <a href="{{ url_for('gugurgunung.index') }}" class="text-light mr-3">Gugur Gunung</a>
                    </small>
                </div>
                <div class="mr-0 mr-sm-3">
                    <small class="fw-medium">
                        <a href="{{ url_for('berasmerah.index') }}" class="text-light mr-3">Beras Merah</a>
                    </small>
                </div>
                <div class="mr-0 mr-sm-3">
                    <small class="fw-medium">
                        <a href="{{ url_for('pedati.index') }}" class="text-light mr-3">Pedati</a>
                    </small>
                </div>
                <div class="ml-0 ml-sm-auto">
                    <small class="fw-medium">
                        © 2019 Powered by Lumbung Tani & Ideavi
                    </small>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
<script>
    $(document).on('click', '#toggle-menu', function(){
        $('#mobile-menu').slideToggle()
    });
    $('#carousel-example').on('slide.bs.carousel', function (e) {
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 5;
        var totalItems = $('.carousel-item').length;
    
        if (idx >= totalItems-(itemsPerSlide-1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i=0; i<it; i++) {
                // append slides to end
                if (e.direction=="left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });
</script>
{% block js %}{% endblock %}
</html>