{% set active_page = 'berasmerah' %}
{% extends 'base.html' %}

{% block title %}
    <title>Lumbung Tani | Beras Merah</title>
{% endblock %}
{% block css %}
    <style>
        .table th, .table td{
            border: 0px solid #dee2e6;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- content -->
    <header style="background-image: url('{{ header_image }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 350px; opacity: 0.6">
    </header>

    <!-- content -->
    <section class="background-gray why-should" style="padding: 20px">
        <div class="container">
            <div class="row justify-content-md-center mb-4 mt-5">
                <div class="col-md-6 text-center">
                    <h1 class="color-dark-title">Beras Merah</h1>
                    Merupakan unit bisnis atau unit usaha dari lumbung tani untuk keberlangsungan web dan aplikasi yang dibuat.
                </div>
            </div>
            {% if products|length != 0 %}
                <div class="row justify-content-md-center">
                    {% for x in products %}
                        <div class="col-md-4">
                            <div class="box box-shadow p-4" style="border: 3px solid #f7f7f7">
                                <div class="d-flex flex-row">
                                    <div class="company-logo" style="background-image: url('{{ x.background_image }}'), url('{{ url_for('static', filename="img/notfound.png") }}'); border-radius: 5px; width: 80px; height: 80px; background-size: cover"></div>
                                    <div class="ml-3">
                                        <h5 class="card-title mb-2">{{ x.title }}</h5>
                                        <div>
                                            <span class="price-point">
                                                {{ "Rp. {:,.2f}".format(x.price) }}
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="mt-4">
                                    <div class="bio">
                                        {{ x.subtitle }}
                                    </div>
                                    <div class="mt-3">
                                        <a href="javascript:void(0)" data-toggle="modal" id="trigger-produk" data-target="#viewProduk" data-item-id="{{ loop.index }}" data-title="{{ x.title }}" data-price="{{ 'Rp. {:,.2f}'.format(x.price) }}" data-subtitle="{{ x.subtitle }}" class="btn btn-primary">
                                            Lihat Detail
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="mt-5">
                    <center>
                        <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                    </center>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- Modal -->
    <div class="modal" id="viewProduk">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>
                        Detail <span class="text-green-logo" id="modal-content-title"></span>
                    </h4>
                    <div class="data-modal-content mt-5">
                        <table class="table table-striped">
                            <tr>
                                <td style="width: 100px;">Harga</td>
                                <td>:</td>
                                <td id="modal-content-price" class="fw-bold"></td>
                            </tr>
                            <tr>
                                <td>Deskripsi</td>
                                <td>:</td>
                                <td id="modal-content-subtitle"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-3 text-center">
                        <a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).on('click','#trigger-produk',function () {
            $('#modal-content-title').html($(this).data('title'));
            $('#modal-content-price').html($(this).data('price'));
            $('#modal-content-subtitle').html($(this).data('subtitle'));
        });
    </script>
{% endblock %}