{% extends 'base.html'%}
{% block title %}
    <title>Lumbung Tani | contributors</title>
{% endblock %}

{% block css %}
    <style>
        .table th, .table td{
            border: 0px solid #dee2e6;
        }
    </style>
{% endblock %}

{% block content %}
    <header style="background-image: url('{{ header_image }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 350px; opacity: 0.6">
    </header>
    <section class="background-gray why-should" style="padding: 20px;">
        <div class="container mt-5">
            <div class="row justify-content-md-center mb-4 mt-5">
                <div class="col-md-6 text-center">
                    <h1 class="color-dark-title">List Semua Kontributor</h1>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque recusandae eum repudiandae qui quisquam quae.
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="dt-search mt-4 mb-3">
                                                    <form method="post" action="{{ url_for('pedati.contributors') }}">
                        <div class="dt-search-box">

                                <div class="search-field">
                                    <input type="text" name="search" class="search-input" placeholder="Cari nama kontributor">
                                </div>
                                <div class="search-button">
                                    <button type="submit" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                        </div>
                            </form>

                    </div>
                </div>
            </div>
            <div class="modern-table-boxed">
                {% for contrib in contributors %}
                    <div class="d-table-row">
                        <div class="d-table-cell">
                            <div class="company-logo" style="background-image: url('{{ contrib.avatar_url }}'), url('{{ url_for('static', filename="img/avatar/user_default.png") }}'); border-radius: 50px;"></div>
                        </div>
                        <div class="d-table-cell">
                            {{ contrib.fullname }}
                        </div>
                        <div class="d-table-cell">
                            {{ contrib.jabatan }}
                        </div>
                        <div class="d-table-cell">
                            {{ contrib.email }}
                        </div>
                        <div class="d-table-cell shrink">
                            <a href="javascript:void(0)" data-toggle="modal" id="trigger-kontrib-detail" data-target="#viewDetailModal" data-item-id="{{ loop.index }}" data-name="{{ contrib.fullname }}" data-email="{{ contrib.email }}" data-hp="{{ contrib.phone }}" data-jabatan="{{ contrib.jabatan }}" data-social='{% for x in contrib.social %}{{ x.type }}={{ x.url }}|{% endfor %}' class="btn btn-primary">
                                Lihat Detail
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- MODAL -->
    <div class="modal" id="viewDetailModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>
                        Detail <span class="text-green-logo" id="modal-contrib-name-header"></span>
                    </h4>
                    <div class="data-modal-content mt-5">
                        <table class="table table-striped">
                            <tr>
                                <td style="width: 150px;">Email</td>
                                <td style="width: 10px;">:</td>
                                <td id="modal-contrib-email"></td>
                            </tr>
                            <tr>
                                <td>Jabatan</td>
                                <td>:</td>
                                <td id="modal-contrib-jabatan"></td>
                            </tr>
                            <tr>
                                <td>Social Media</td>
                                <td>:</td>
                                <td>
                                    <div class="d-flex" id="modal-contrib-social">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-3 text-center">
                        <a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).on('click','#trigger-kontrib-detail',function () {
            $("#modal-contrib-social").html(""); // buat clear list sosial media di modals

                $('#modal-contrib-email').html($(this).data('email')); // buat ngeset email di modals
                $('#modal-contrib-jabatan').html($(this).data('jabatan')); // buat ngeset jabatan di modals
                $('#modal-contrib-name-header').html($(this).data('name'));
                $('#modal-contrib-phone').html($(this).data('hp'));
                var socials = $(this).data('social'); // ambil data social media yang dimiliki user terpilih
                if (socials.length > 0){
                    socials = socials.slice(0,-1); // pre-processing data
                    var arr = socials.split('|'); // pre-processing data
                    arr.forEach(function (a) {
                        a = a.split('='); // pre-processing data
                        $("#modal-contrib-social").append("<a href='"+a[1]+"' target='_blank'><div class='social-box "+a[0]+" mr-2'><i class='fa fa-"+a[0]+"'></i></div></a>"); // nambahin sosial medianya
                    })
                } else {
                    $("#modal-contrib-social").append("-")
                }
            });

            $('#myCarousel').carousel({
                interval: 0
            })

            $('.carousel .carousel-item').each(function() {
                var minPerSlide = 4;
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i = 0; i < minPerSlide; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });
        </script>
</html>
{% endblock %}