{% set active_page = 'lumbungilmu' %}

{% extends 'base.html' %}
{% block title %}
    <title>Lumbung Tani | Lumbung Ilmu</title>
{% endblock %}
{% block css %}
        <style>
            .myAlert-top{
                top: 5px;
                left:2%;
                width: auto;
            }
        </style>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
            <div class="myAlert-top alert alert-{{ messages[0][0] }}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
      {% endif %}
    {% endwith %}
    <section class="background-gray why-should" style="padding: 20px">
        <div class="container mt-5">
            <h1>Detail Artikel</h1>
            <div class="short-separator"></div>
            <div class="blog-layout row">
                <div class="sidebar-body col-md-9">
                    <div class="article-container">
                        <div class="article-list">
                            <!-- <div class="article-photo" style="background-image: url('')"> -->
                            <div>
                                <img src="{{ article.thumbnail }}" width="100%" style="border-radius: 10px;">
                            </div>

                            <h3 class="color-dark-title mt-4">
                                {{ article.judul }}
                            </h3>
                            <div>
                                <span class="tag green">
                                    <i class="fa fa-clock-o mr-1"></i>
                                    {{ article.created_at.strftime('%A, %d %b %Y') }}
                                </span>
                            </div>

                            <p>
                                {{ article.content|safe }}
                            </p>
                            <div class="d-flex align-items-center">
                                <a href="">
                                    <div class="user-list-with-avatar">
                                        <img src="{{ author.avatar_url }}" width="30" height="30" class="rounded-circle" alt="">
                                        <div class="px-3">{{ author.fullname.title() }}</div>
                                    </div>
                                </a>
                            </div>
                            {% if article.infographic  %}
                                <div class="mt-4">
                                    <a href="{{ article.infographic }}" class="btn btn-primary">Download Infografis</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="comments" class="navbar-container mt-5">
                        <div class="box note-box">
                            {% if current_user.is_authenticated %}
                            <form method="post" action="{{ url_for('lumbungilmu.comment',id=article._id) }}">
                                <div class="note-header">
                                    <div class="d-flex align-items-center mt-2">
                                        <div class="mr-3">
                                            <img src="{{ current_user.avatar_url }}" alt="avatar-image" class="avatar avatar-dropdown rounded-circle" width="50" height="50">
                                        </div>
                                        <div class="w-100">
                                            <textarea name="comment" type="text" class="form-control note-input-text" placeholder="Enter comment"></textarea>
                                        </div>
                                        <div class="ml-3">
                                            <button type="submit" class="btn btn-primary send-button">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                            <div class="note-history">
                                <div class="note-pusher"></div>
                                <!-- foreach disini -->
                                {% for comment in comments_data %}
                                    <div class="note-chat-container">
                                        <div class="note-chat me">
                                            <div class="note-chat-bubble">
                                                {{ comment.comment }}
                                            </div>
                                            <div class="note-chat-detail">
                                                <div class="note-chat-avatar">
                                                    <img src="{{ comment.commenter.avatar_url }}" alt="avatar-image" class="avatar avatar-dropdown rounded-circle" width="50" height="50">
                                                </div>
                                                <div class="note-chat-time">
                                                    <small class="fw-medium mr-3">{{ comment.commenter.fullname }}</small>
                                                    <small class="tag green">{{ comment.timestamp | humanize }}</small>
                                                </div>
                                                {% if current_user.is_authenticated %}
                                                <div class="note-reply">
                                                    <a href="javascript:void(0)" class="text-gray400">
                                                        <i class="fa fa-reply mr-1"></i> Reply
                                                    </a>
                                                </div>
                                                {% endif %}
{#                                                <div class="ml-auto pr-3">#}
{#                                                    <small>#}
{#                                                        <a href="javascript:void(0)" class="text-gray400 fw-medium" style="font-size: 14px;">#}
{#                                                            <i class="fa fa-trash"></i>#}
{#                                                        </a>#}
{#                                                    </small>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note-child">
                                        {% for rep in comment.replies %}
                                            <div class="note-chat-container">
                                                <div class="note-chat me">
                                                    <div class="note-chat-bubble">
                                                        {{ rep.comment }}
                                                    </div>
                                                    <div class="note-chat-detail">
                                                        <div class="note-chat-avatar">
                                                            <img src="{{ rep.replier.avatar_url }}" alt="avatar-image" class="avatar avatar-dropdown rounded-circle" width="50" height="50">
                                                        </div>
                                                        <div class="note-chat-time">
                                                            <small class="fw-medium mr-3">{{ rep.replier.fullname }}</small>
                                                            <small class="tag green">{{ rep.timestamp | humanize }}</small>
                                                        </div>
                                                        {% if current_user.is_authenticated %}
                                                            {% if current_user.visitor_id == rep.replier._id %}
                                                                <div class="ml-auto pr-3">
                                                                    <small>
                                                                        <a href="javascript:void(0)" class="text-gray400 fw-medium" style="font-size: 14px;">
                                                                            <i class="fa fa-trash"></i>
                                                                        </a>
                                                                    </small>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% if current_user.is_authenticated %}
                                            <form method="post" action="{{ url_for('lumbungilmu.reply',id=comment._id) }}">
                                                <div class="note-reply-container">
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-3">
                                                            <img src="{{ current_user.avatar_url }}" alt="avatar-image" class="avatar avatar-dropdown rounded-circle" width="50" height="50">
                                                        </div>
                                                        <div class="w-100">
                                                            <input type="text" name="comment" class="form-control note-input-text" placeholder="Enter reply">
                                                        </div>
                                                        <div class="ml-3">
                                                            <button type="submit" class="btn btn-primary send-button">
                                                                <i class="fa fa-send"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw-bold mt-4">
                        Artikel Terbaru
                    </label>
                    <div class="box box-shadow mt-3">
                        {% for new in newest %}
                            <div class="category-article mt-3">
                                <div class="row">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                                        <div style="top: 0; background-image: url('{{ new.thumbnail }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 45px; height: 35px; border-radius: 2px">
                                        </div>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: -5px">
                                        <a href="{{ url_for('lumbungilmu.detail', slug=new.slug) }}" class="text-dark">
                                            <label class="fw-bold mb-0" style="font-size: 12px; cursor: pointer;">{{ new.judul[:15] }}...</label>
                                        </a>
                                        <div class="mb-2">
                                            <small style="font-size: 10px;">
                                                {{ new.content[:20] }}...
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <label class="fw-bold mt-4">
                        Artikel Terpopuler
                    </label>
                    <div class="box box-shadow mt-3">
                        {% for pop in popular %}
                            <div class="category-article mt-3">
                                <div class="row">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                                        <div style="top: 0; background-image: url('{{ pop.thumbnail }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 45px; height: 35px; border-radius: 2px">
                                        </div>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: -5px">
                                        <a href="{{ url_for('lumbungilmu.detail', slug=pop.slug) }}" class="text-dark">
                                            <label class="fw-bold mb-0" style="font-size: 12px; cursor: pointer;">{{ pop.judul[:15] }}...</label>
                                        </a>
                                        <div class="mb-2">
                                            <small style="font-size: 10px;">
                                                {{ pop.content[:20] }}...
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {% if scroll %}
        document.getElementById('{{ scroll }}').scrollIntoView();
        // or
        document.location.hash = '#' + '{{ scroll }}';
    {% endif %}
    <script>
</script>
{% endblock %}