<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title>Request Contributor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,600i,700,700i&display=swap" rel="stylesheet">
    <style type="text/css">
    body{
      font-family: 'Source Sans Pro', sans-serif;
    }
    .wrap-line{
        margin-top: 20px;
        line-height: .1em;
        position: relative;
    }
    .more{
        position: absolute;
        margin: 0 auto;
        margin-top: -15px;
        left: 50%;
        transform: translateX(-50%);
        background: 0 0;
        padding: 8 20px;
        background-color: #fff;
    }
    *::-webkit-scrollbar {
        width: .4em;
        height: .4em;
    }
     
    *::-webkit-scrollbar-track {
      background: #edf0f5;
      border-radius: .25em;
    }
     
    *::-webkit-scrollbar-thumb {
      background-color: #d2d3d4;
      border-radius: .25em;
      cursor: pointer;
    }
    td.td-content{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    table {
      border-collapse: collapse;
    }

    td.head-title {
        border: 1px solid #fafafa;
        padding: 13px;
        background-color: #eee;
    }
    td.border {
        padding-top: 30px;
    }
    .btn-primary{
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0px 2.5px 8px 0px #84b71c57;
        background-color: #84b71c;
        color: #fff;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        padding: 9px 22px;
    }
    </style>
</head>

<body style="background-color:#fcfcfc;">
    <div style="background-color:white;Margin:0px auto;max-width:700px;box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.02);border-radius: 6px;">
        <div class="box-header">
          <img src="{{ url_for('static', filename='img/email-header.png', _external=True) }}" style="background-position: center;background-size: cover;border-top-left-radius: 6px;border-top-right-radius: 6px;background-repeat: no-repeat;width: 100%">
        </div>
        <div class="body" style="padding: 0px 50px;">
            <div style="font-size: 26px;font-weight: 900;margin-top: 20px">
                <span style="color: #C4CDD5">Hello</span><br>
                Admin Lumbung Tani,
            </div>
            <p style="font-size: 14px;color: #666;margin-top: 10px">
                <b>{{ name }}</b> mengajukan permintaan untuk menjadi Kontributor!
            </p>
            <div style="margin-top: 30px">
                <center>
                    <form method="POST" target="_blank" action="{{ url_for('admin_pengguna.visitor', _external=True) }}">
                    <input style="display: none" name="search" value="{{ uname }}" type="text">
                        <button type="submit" class="btn-primary">
                            Cek Sekarang
                        </button>
                    </form>
                </center>
            </div>
            <div class="box-footer" style="background-color: #fff;width: 100%;border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;margin-top: 20px;padding-bottom: 20px">
                
            </div>
        </div>
    </div>
    <div style="Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
            <tbody>
                <tr>
                    <td style="direction:ltr;font-size:0px;text-align:center;vertical-align:top;">
                        <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:bottom;width:100%;padding-top: 20px">

                            <center>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table;padding-left: 5px; margin-top: 20px;">
                                    <tr>
                                        <td>
                                            <a href="https://twitter.com/LumbungTaniID" style="margin-right: 15px" target="_blank">
                                                <img src="{{ url_for('static', filename='img/icon/twitter-black.png', _external=True) }}" style="opacity: 0.8;" width="25">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float:none;display:inline-table;padding-left: 5px; margin-top: 20px;">
                                    <tr>
                                        <td>
                                            <a href="https://www.instagram.com/lumbungtani.id/" target="_blank">
                                                <img src="{{ url_for('static', filename='img/icon/instagram-black.png', _external=True) }}" style="opacity: 0.8;" width="25">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;">
                                                <div class="mj-column-px-550 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:bottom;width:100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:bottom;" width="100%">
                                                        <tr>
                                                            <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                                <div style="font-size:13px;line-height:1;text-align:left;color:grey;text-align: center;">
                                                                    Jl. Magelang KM.7 Kotak Pos 152 Magelang, Jawa Tengah. Indonesia
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" style="font-size:0px;padding:0px 25px;word-break:break-word;">
                                                                  <div style="font-size:13px;line-height:1;text-align:left;color:grey;text-align: center;">
                                                                    © 2019 Powered by Lumbung Tani & Ideavi
                                                                </div>
                                                              </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>