{% set active_page = 'beranda' %}
{% extends 'base.html' %}

{% block title %}
    <title>Lumbung Tani | Home</title>
{% endblock %}
{% block css %}
    <style>
        .carousel-item{
            height: 630px !important;
        }
        .carousel-item:before{
            height: 630px !important;
        }
        .carousel-item {
            height: 90vh;
            min-height: 350px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .carousel-caption {
            text-align: unset;
            bottom: unset;
            top: 150px;
        }

        .carousel-item:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: #f5fff94f;
            opacity: .9;
            border-bottom-right-radius: 0px;
        }
        .box-gray{
            height: 400px;
            background-color: rgba(245,245,245,.9);
            background-repeat: no-repeat;
            border-radius: 8px;
            padding: 40px;
        }
    </style>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for message in messages %}
                {% for key, value in message[1].items() %}
                    <strong>{{ key }} :</strong> {{ value }}<br>
                {% endfor %}
            {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <!-- Slider -->
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for x in slider %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="{% if loop.index == 1 %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for x in slider %}
                    <div class="carousel-item{% if loop.index == 1 %} active {% endif %}" style="background-image: url('{{ x.background_image }}')">
                    </div>
                {% endfor %}
            </div>
            {% if slider|length > 1 %}
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <div class="circle-slider">
                        <i class="fa fa-angle-left mr-1"></i>
                    </div>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <div class="circle-slider">
                        <i class="fa fa-angle-right ml-1"></i>
                    </div>
                </a>
            {% endif %}
        </div>
    </header>

    <!-- content -->
    <section class="background-gray why-should mt-5" style="padding: 20px">
        <div class="container">
            <center>
                <h3 class="fw-bold">
                    {{ header.title }}
                </h3>
                <div class="gray-separator" style="width: 100px; height: 5px"></div>
                <div class="mt-3" w>
                    {{ header.subtitle }}
                </div>
            </center>
        </div>
    </section>

    <section class="background-gray why-should" style="padding: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mt-4">
                    <img src="{{ content1.content_media }}" width="100%" style="border-radius: 6px;" alt="">
                </div>
                <div class="col-md-7 mt-4">
                    <h2 style="color: #38454e;" class="fw-bold letter-spacing-2">
                        {{ content1.title }}
                    </h2>
                    <p class="mt-3 p-home">
                        {{ content1.subtitle }}
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-5 pr-5 order-1 order-lg-0 mt-3">
                    <h2 style="color: #38454e;" class="fw-bold letter-spacing-2 my-4 my-lg-0">
                        {{ content2.title }}
                    </h2>
                    <p class="mt-3 p-home">
                        {{ content2.subtitle }}
                    </p>
                </div>
                <div class="col-lg-7 order-0 order-lg-1" style="margin-top: -30px">
                    <div class="video-container">
                        <img src="{{ url_for('static', filename='img/landing_page/video.png') }}" alt="video-container" width="100%">
                        <iframe src="{{ content2.content_media }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video-intro"></iframe>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}