<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="favicon">
    <style>
        .myAlert-top{
            position: fixed;
            top: 5px;
            left:2%;
            width: auto;
        }
    </style>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <section class="background-gray why-should" style="padding: 20px">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="box login-form">
                        <div class="mt-3 mb-3">
                            <div class="text-center">
                                <h3>
                                    Silahkan <span class="fw-normal">Masuk</span>
                                </h3>
                                <p class="text-gray600 pl-2 pr-2">
                                    Silahkan isi data anda dengan tepat dan akurat
                                </p>
                                <div class="mt-4 mb-4">
                                    <img src="{{ url_for('static', filename='img/logo.png') }}" width="200px" alt="">
                                </div>
                            </div>
                            <form method="post" action="{{ url_for('home.login') }}">
                                <div class="mt-3">
                                    <label>Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Masukkan Username">
                                </div>
                                <div class="mt-3">
                                    <label>Password</label>
                                    <input type="password" name="password" id="your-password" class="form-control" placeholder="Masukkan Password">
                                    <span toggle="#your-password" class="fa fa-fw fa-eye field-icon toggle-password text-gray600"></span>
                                </div>
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary btn-block">Masuk</button>
                                </div>
                                <div class="gray-separator my-4">
                                    <div class="text">Atau</div>
                                </div>
                                <div>
                                    <a href="{{ url_for('home.register') }}" class="btn btn-outline-primary btn-block">Daftar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-6">
                    <h3 class="mt-5">
                        Lumbung Tani<br>
                        <span class="fw-normal">Daftar segera untuk berkontribusi bagi bangsa</span>
                    </h3>
                    <div class="short-separator mb-4" style="width: 100px"></div>
                    <p class="text-gray600" style="font-size: 14px">
                        Lumbung Tani merupakan media informasi bagi petani dan peternak yang didukung oleh akademisi dan praktisi terkait serta bersifat gotong royong. Mari berkontribusi dalam membantu meningkatkan pengetahuan dan nformasi bagi petani dan peternak. Lumbung Tani bersifat non profit dan menghargai hasil karya rekan-rekan sekalian. Karya yang dikirim dan diunggah dalam lumbung ilmu akan mendapatkan apresiasi dari kami.
                    </p>
                    <p class="text-gray600" style="font-size: 14px">
                        Ketentuan penulisan dapat diakses pada “Lumbung Ilmu” dengan Judul “Ketentuan Penulisan”.
                    </p>
                    <div>
                        <a href="{{ url_for('home.index') }}" class="btn btn-outline-primary mt-3">
                            Kembali ke Halaman Utama
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).on('click', '#toggle-menu', function(){
        $('#mobile-menu').slideToggle()
    })
    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye fa-eye-slash");

        var input = $($(this).attr("toggle"));

        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
</html>