{% set active_page = 'lumbungilmu' %}
{% extends 'base.html' %}

{% block title %}
    <title>Lumbung Tani | Lumbung Ilmu</title>
{% endblock %}

{% block css %}
        <style>
            .myAlert-top{
                top: 5px;
                left:2%;
                width: auto;
            }
        </style>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
            <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
            {% for message in messages %}
                {% for key, value in message[1].items() %}
                    <strong>{{ key }} :</strong> {{ value }}<br>
                {% endfor %}
            {% endfor %}
            </div>
      {% endif %}
    {% endwith %}
    <!-- content -->
    <header style="background-image: url('{{ header_image }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 350px; opacity: 0.6">
    </header>

    <section class="background-gray why-should" style="padding: 20px">
        <div class="container mt-5">
            <h1>Artikel</h1>
            <div class="short-separator"></div>
            <form method="post" action="{{ url_for('lumbungilmu.index') }}">
                <div class="blog-layout row">
                    <div class="sidebar-body col-md-9">
                        <div class="dt-search mt-4">
                            <div class="dt-search-box">
                                <div class="search-field">
                                    <input type="text" name="search" class="search-input" placeholder="Cari nama artikel" value="{{ keyword }}">
                                </div>
                                <div class="search-button">
                                    <button type="submit" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% if articles|length != 0 %}
                            {% for article in articles %}
                            <div class="article-container">
                                <div class="article-list">
                                    <div class="row">
                                        <div class="col-md-4 mt-3">
                                            <div class="article-photo" style="background-image: url('{{ article.thumbnail }}')">
                                            </div>
                                        </div>
                                        <div class="col-md-8 mt-3">
                                            <div class="article-detail">
                                                <div class="d-flex">
                                                    <div>
                                                        <small class="text-green-logo fw-medium">
                                                            {{ article.category_name }}
                                                        </small>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <div class="author">
                                                            {{ article.created_at.strftime('%d %b %Y') }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="title mt-1">
                                                    <a href="{{ url_for('lumbungilmu.detail', slug=article.slug) }}">
                                                        {{ article.judul[:56] }}...
                                                    </a>
                                                </div>
                                                <p class="description mt-2">
                                                    {{ article.content[:250] }}...
                                                </p>
                                                <a href="{{ url_for('lumbungilmu.detail', slug=article.slug) }}" class="btn btn-primary btn-sm mt-2">
                                                    Baca Lebih Lanjut
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="mt-3 mb-4">
                                <ul role="navigation" class="pagination">
                                    <li aria-disabled="true" aria-label="« Previous" class="page-item disabled">
                                        <span aria-hidden="true" class="page-link">
                                            <i class="fa fa-angle-left"></i>
                                        </span>
                                    </li>
                                    {% for x in range(0,pages) %}
                                    <li aria-current="page" class="page-item {% if loop.index == current_page %}active{% endif %} ">
                                        <a href="{% if keyword %} {{ url_for("lumbungilmu.search", keyword=keyword,page=loop.index) }} {% else %} {{ url_for("lumbungilmu.search", page=loop.index) }} {% endif %}"><span class="page-link">{{ loop.index }}</span></a>
                                    </li>
                                    {% endfor %}
                                    <li class="page-item">
                                        <a href="" rel="next" aria-label="Next »" class="page-link">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="mt-5">
                                <center>
                                    <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                                </center>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <label class="fw-bold mt-4">
                            Artikel Terbaru
                        </label>
                        <div class="box box-shadow mt-3">
                            {% if articles|length != 0 %}
                                {% for new in newest %}
                                    <div class="category-article mt-2">
                                        <div class="row">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                                                <div style="top: 0; background-image: url('{{ new.thumbnail }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 45px; height: 35px; border-radius: 2px">
                                                </div>
                                            </div>
                                            <div class="col-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: -5px">
                                                <a href="{{ url_for('lumbungilmu.detail', slug=new.slug) }}" class="text-dark">
                                                    <label class="fw-bold mb-0" style="font-size: 12px; cursor: pointer;">{{ new.judul[:15] }}...</label>
                                                </a>
                                                <div class="mb-2">
                                                    <small style="font-size: 10px;">
                                                        {{ new.content[:20] }}...
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <center>
                                    <img src="{{ url_for('static', filename='img/empty.png') }}" width="100%" style="border-radius: 20px">
                                </center>
                            {% endif %}
                        </div>
                        <label class="fw-bold mt-4">
                            Artikel Terpopuler
                        </label>
                        <div class="box box-shadow mt-3">
                            {% if articles|length != 0 %}
                                {% for pop in popular %}
                                    <div class="category-article mt-2">
                                        <div class="row">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                                                <div style="top: 0; background-image: url('{{ pop.thumbnail }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 45px; height: 35px; border-radius: 2px">
                                                </div>
                                            </div>
                                            <div class="col-9 col-sm-9 col-md-9 col-lg-9" style="margin-top: -5px">
                                                <a href="{{ url_for('lumbungilmu.detail', slug=pop.slug) }}" class="text-dark">
                                                    <label class="fw-bold mb-0" style="font-size: 12px; cursor: pointer;">{{pop.judul[:15]}}...</label>
                                                </a>
                                                <div class="mb-2">
                                                    <small style="font-size: 10px;">
                                                        {{ pop.content[:20] }}...
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <center>
                                    <img src="{{ url_for('static', filename='img/empty.png') }}" width="100%" style="border-radius: 20px">
                                </center>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}