    {% set active_page = 'pedati' %}
    {% extends 'base.html'%}

    {% block title %}
        <title>Lumbung Tani | Pedati</title>
    {% endblock %}
    {% block css %}
        <style>
            .carousel{
                background: transparent;
            }
            .table th, .table td{
                border: 0px solid #dee2e6;
            }
        </style>
    {% endblock %}

    {% block content %}
        <!-- content -->
        <header style="background-image: url('{{ header_image }}'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 350px; opacity: 0.6">
        </header>

        <section class="background-gray why-should" style="padding: 20px;">
            <div class="container mt-5">
                <div class="row justify-content-md-center mb-4 mt-5">
                    <div class="col-md-6 text-center">
                        <h1 class="color-dark-title">Pedati</h1>
                        Merupakan data komunitas yang proaktif dalam lumbung tani dalam bentuk kontribusinya terhadap tani melalui informasi.
                    </div>
                </div>

                {% if teams|length != 0 %}
                    <div class="row mx-auto my-auto">
                        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
                            <!-- {% if teams|length > 4 %}
                                <a href="#myCarousel" role="button" data-slide="prev">
                                    <div class="prev-circle mr-3">
                                        <i class="fa fa-angle-left mr-1"></i>
                                    </div>
                                </a>
                                <a href="#myCarousel" role="button" data-slide="next">
                                    <div class="next-circle">
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                </a>
                            {% endif %} -->
                            <!-- <div class="carousel-inner w-100" role="listbox"> -->
                                <div class="row"> 
                                    {% for team in teams %}
                                        <!-- <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" style="padding: 17px"> -->
                                            <div class="col-md-3">
                                                <div class="box box-shadow" style="border: 3px solid #f7f7f7">
                                                    <div class="card-body d-flex flex-row">
                                                        <div class="company-logo" style="background-image: url('{{ team.avatar_url }}'); border-radius: 50px; width: 60px; height: 60px;"></div>
                                                        <div class="ml-3">
                                                            <h5 class="card-title mb-2">{{ team.name }}</h5>
                                                            <p class="card-text text-gray500">{{ team.role }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="bio">
                                                            {{ team.desc }}
                                                        </div>
                                                        <div class="mt-3">
                                                            <div class="d-flex">
                                                                {% for socials in team.social %}
                                                                    <div class="mr-2">
                                                                        <a href="{{ socials.url }}" target="_blank">
                                                                            <div class="social-media-circle">
                                                                                <i class="fa fa-{{ socials.type }}"></i>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="mt-3">
                                                            <a href="javascript:void(0)" data-toggle="modal" id="trigger-team-detail" data-target="#viewUserDetail" data-item-id="{{ loop.index }}" data-name="{{ team.name }}" data-email="{{ team.email }}" data-hp="{{ team.phone }}" data-jabatan="{{ team.role }}" data-social='{% for x in team.social %}{{ x.type }}={{ x.url }}|{% endfor %}' class="btn btn-primary">
                                                                Lihat Detail
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- </div> -->
                                    {% endfor %}
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                {% else %}
                    <div class="mt-5">
                        <center>
                            <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                        </center>
                    </div>
                {% endif %}
            </div>
        </section>

        <section class="background-gray why-should" style="padding: 20px;">
            <div class="container">
                <div class="row justify-content-md-center mb-4 mt-5">
                    <div class="col-md-6 text-center">
                        <h1 class="color-dark-title">List Kontributor</h1>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque recusandae eum repudiandae qui quisquam quae.
                    </div>
                </div>
                {% if contributors|length != 0 %}
                    <div class="modern-table-boxed">
                        {% for contrib in contributors %}
                            <div class="d-table-row">
                                <div class="d-table-cell">
                                    <div class="company-logo" style="background-image: url('{{ contrib.avatar_url }}'), url('{{ url_for('static', filename="img/avatar/user_default.png") }}'); border-radius: 50px;"></div>
                                </div>
                                <div class="d-table-cell">
                                    {{ contrib.fullname }}
                                </div>
                                <div class="d-table-cell">
                                    {{ contrib.jabatan }}
                                </div>
                                <div class="d-table-cell">
                                    {{ contrib.email }}
                                </div>
                                <div class="d-table-cell shrink">
                                    <a href="javascript:void(0)" data-toggle="modal" id="trigger-kontrib-detail" data-target="#viewDetailModal" data-item-id="{{ loop.index }}" data-name="{{ contrib.fullname }}" data-email="{{ contrib.email }}" data-hp="{{ contrib.phone }}" data-jabatan="{{ contrib.jabatan }}" data-social='{% for x in contrib.social %}{{ x.type }}={{ x.url }}|{% endfor %}' class="btn btn-primary">
                                        Lihat Detail
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-3">
                        <a href="{{ url_for('pedati.contributors') }}" class="btn btn-primary">
                            Lihat Semua Data
                        </a>
                    </div>
                {% else %}
                    <div class="mt-5">
                        <center>
                            <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                        </center>
                    </div>
                {% endif %}
            </div>
        </section>

        <!-- MODAL -->
        <div class="modal" id="viewDetailModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>
                            Detail <span class="text-green-logo" id="modal-contrib-name-header">Chori Zikrin</span>
                        </h4>
                        <div class="data-modal-content mt-5">
                            <table class="table table-striped">
                                <tr>
                                    <td style="width: 150px;">Email</td>
                                    <td style="width: 10px;">:</td>
                                    <td id="modal-contrib-email">chori@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Jabatan</td>
                                    <td>:</td>
                                    <td id="modal-contrib-jabatan">OB</td>
                                </tr>
                                <tr>
                                    <td>Social Media</td>
                                    <td>:</td>
                                    <td>
                                        <div class="d-flex" id="modal-contrib-social">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="viewUserDetail">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>
                            Detail <span class="text-green-logo" id="modal-team-name-header">Chori Zikrin</span>
                        </h4>
                        <div class="data-modal-content mt-5">
                            <table class="table table-striped">
                                <tr>
                                    <td style="width: 150px;">Email</td>
                                    <td style="width: 10px;">:</td>
                                    <td id="modal-team-email">chori@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Jabatan</td>
                                    <td>:</td>
                                    <td id="modal-team-jabatan">OB</td>
                                </tr>
                                <tr>
                                    <td>Social Media</td>
                                    <td>:</td>
                                    <td>
                                        <div class="d-flex" id="modal-team-social">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-3 text-center">
                            <a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block js %}
        <script>
            $(document).on('click','#trigger-team-detail',function () {
                $("#modal-team-social").html(""); // buat clear list sosial media di modals

                $('#modal-team-email').html($(this).data('email')); // buat ngeset email di modals
                $('#modal-team-jabatan').html($(this).data('jabatan')); // buat ngeset jabatan di modals
                $('#modal-team-name-header').html($(this).data('name'));
                $('#modal-team-phone').html($(this).data('hp'));
                var socials = $(this).data('social'); // ambil data social media yang dimiliki user terpilih
                if (socials.length > 0){
                    socials = socials.slice(0,-1); // pre-processing data
                    var arr = socials.split('|'); // pre-processing data
                    arr.forEach(function (a) {
                        a = a.split('='); // pre-processing data
                        $("#modal-team-social").append("<a href='"+a[1]+"' target='_blank'><div class='social-media-circle "+a[0]+" mr-2'><i class='fa fa-"+a[0]+"'></i></div></a>"); // nambahin sosial medianya
                    })
                } else {
                    $("#modal-team-social").append("-")
                }
            });

            $(document).on('click','#trigger-kontrib-detail',function () {
                $("#modal-contrib-social").html(""); // buat clear list sosial media di modals

                $('#modal-contrib-email').html($(this).data('email')); // buat ngeset email di modals
                $('#modal-contrib-jabatan').html($(this).data('jabatan')); // buat ngeset jabatan di modals
                $('#modal-contrib-name-header').html($(this).data('name'));
                $('#modal-contrib-phone').html($(this).data('hp'));
                var socials = $(this).data('social'); // ambil data social media yang dimiliki user terpilih
                if (socials.length > 0){
                    socials = socials.slice(0,-1); // pre-processing data
                    var arr = socials.split('|'); // pre-processing data
                    arr.forEach(function (a) {
                        a = a.split('='); // pre-processing data
                        $("#modal-contrib-social").append("<a href='"+a[1]+"' target='_blank'><div class='social-media-circle "+a[0]+" mr-2'><i class='fa fa-"+a[0]+"'></i></div></a>"); // nambahin sosial medianya
                    })
                }else{
                    $("#modal-contrib-social").append("-")
                }
            });

            $('#myCarousel').carousel({
                interval: 0
            })
            $('.carousel .carousel-item').each(function() {
                var minPerSlide = 4;
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i = 0; i < minPerSlide; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });
        </script>
    {% endblock %}