{% extends 'base_admin.html' %}
{% set active_page = 'berasmerah' %}

{% block title %}
    <title>Admin | Beras Merah</title>
{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for message in messages %}
                {% for key, value in message[1].items() %}
                    <strong>{{ key }} :</strong> {{ value }}<br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Beras Merah
    </h2>
    <div class="d-flex mt-4">
        <h5 class="text-gray500">Header</h5>
        <div class="ml-auto">
            <a href="{{ url_for('admin_berasmerah.header') }}" class="btn btn-primary">Edit Data</a>
        </div>
    </div>
    <div class="modern-table-boxed">
        <div class="d-table-row header">
            <div class="d-table-cell">
                Nama Gambar
            </div>
            <div class="d-table-cell shrink">
                Opsi
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                Berasmerah
            </div>
            <div class="d-table-cell shrink">
                <a href="">
                    <img src="{{ url_for('static', filename='img/icon/delete.png') }}" width="18" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex mt-4">
        <h5 class="text-gray500">Produk</h5>
        <div class="ml-auto">
            <a href="{{ url_for('admin_berasmerah.create') }}" class="btn btn-primary">Tambah Data</a>
        </div>
    </div>
    {% if products|length != 0 %}
        <div class="modern-table-boxed">
            <div class="d-table-row header">
                <div class="d-table-cell">
                    Nama Produk
                </div>
                <div class="d-table-cell">
                    Harga
                </div>
                <div class="d-table-cell">
                    Deskripsi
                </div>
                <div class="d-table-cell">
                    Gambar
                </div>
                <div class="d-table-cell shrink">
                    Opsi
                </div>
            </div>
            {% for product in products %}
                <div class="d-table-row">
                    <div class="d-table-cell">
                        <span>
                            {{ product.title }}
                        </span>
                    </div>
                    <div class="d-table-cell">
                        {{ "Rp. {:,.2f}".format(product.price) }}
                    </div>
                    <div class="d-table-cell">
                        {{ product.subtitle }}
                    </div>
                    <div class="d-table-cell">
                        {{ product.background_image }}
                    </div>
                    <div class="d-table-cell shrink">
                        <a href="{{ url_for('admin_berasmerah.edit', id=product.order) }}" class="mr-3">
                            <img src="{{ url_for('static', filename='img/icon/edit.png') }}" width="18" alt="">
                        </a>
                        <a href="{{ url_for('admin_berasmerah.delete_product', urutan=product.order) }}">
                            <img src="{{ url_for('static', filename='img/icon/delete.png') }}" width="18" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="mt-5">
            <center>
                <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                <div class="mt-4">
                    <h4 class="text-gray400">
                        Data Kosong...
                    </h4>
                </div>
            </center>
        </div>
    {% endif %}
{% endblock %}