{% extends 'base_admin.html' %}
{% set active_page = 'front' %}

{% block title %}
    <title>Admin | Home</title>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Home Page
    </h2>
    <div class="d-flex mt-3">
        <h5 class="text-gray500 mb-0">
            Slider
        </h5>
        <div class="ml-auto">
            <a href="{{ url_for('admin_home.slider') }}" class="btn btn-primary mr-2">
                Tambah Data
            </a>
        </div>
    </div>
    <div class="modern-table-boxed">
        <div class="d-table-row header">
            <div class="d-table-cell">
                No
            </div>
            <div class="d-table-cell">
                Nama Gambar
            </div>
            <div class="d-table-cell shrink">
                Opsi
            </div>
        </div>
        {% for slides in slider %}
            <div class="d-table-row">
                <div class="d-table-cell">
                    <span>
                        {{ loop.index }}
                    </span>
                </div>
                <div class="d-table-cell">
                    {{ slides.background_image }}
                </div>
                <div class="d-table-cell shrink">
                    <a href="{{ url_for('admin_home.delete_slider', urutan=slides.order) }}">
                        <img src="{{ url_for('static', filename='img/icon/delete.png') }}" width="18" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex mt-4">
        <h5 class="text-gray500 mb-0">
            Content
        </h5>
        <div class="ml-auto">
            <!-- <a href="{{ url_for('admin_home.create') }}" class="btn btn-primary mr-2">
                Tambah Data
            </a> -->
            <a href="{{ url_for('admin_home.edit') }}" class="btn btn-outline-primary">
                Edit Data
            </a>
        </div>
    </div>
    <div class="box mt-3">
        <div class="row">
            <div class="col-md-12">
                <h6>Judul Iklan App</h6>
                <p class="mb-0">
                    {{ content1.title }}
                </p>
            </div>
            <div class="col-md-12 mt-3">
                <h6>Deskripsi Iklan App</h6>
                <p class="mb-0">
                    {{ content1.subtitle }}
                </p>
            </div>
            <div class="col-md-12 mt-3">
                <h6>Image</h6>
                <p class="mb-0">
                    {{ content1.content_media }}
                </p>
            </div>
            <div class="col-md-12 mt-3">
                <h5 class="text-gray500 mb-0">
                    Video
                </h5>
            </div>
            <div class="col-md-12 mt-3">
                <h6>Judul Video</h6>
                <p class="mb-0">
                    {{ content2.title }}
                </p>
            </div>
            <div class="col-md-12 mt-3">
                <h6>Deskripsi Video</h6>
                <p class="mb-0">
                    {{ content2.subtitle }}
                </p>
            </div>
            <div class="col-md-12 mt-3">
                <h6>Link Video</h6>
                <p class="mb-0">
                    {{ content2.content_media }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}