{% extends 'base_admin.html' %}
{% set active_page = 'lumbungilmu' %}

{% block title %}
    <title>Admin | Lumbung Ilmu</title>
{% endblock %}

{% block css %}
    <style>
        .myAlert-top{
            top: 5px;
            left:2%;
            width: auto;
        }
    </style>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for message in messages %}
                {% for key, value in message[1].items() %}
                    <strong>{{ key }} :</strong> {{ value }}<br>
                {% endfor %}
            {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Lumbung Ilmu
    </h2>
    {% if current_user.role == 'admin' %}
        <div class="d-flex">
            <h5 class="text-gray500 mt-3">Header</h5>
            <div class="ml-auto">
                <a href="{{ url_for('admin_lumbungilmu.header') }}" class="btn btn-primary">Edit Data</a>
            </div>
        </div>
        <div class="modern-table-boxed">
            <div class="d-table-row header">
                <div class="d-table-cell">
                    Nama Gambar
                </div>
            </div>
            <div class="d-table-row">
                <div class="d-table-cell">
                    image.jpg
                </div>
            </div>
        </div>
    {% endif %}
    <div class="d-flex mt-4">
        <h5 class="text-gray500">Artikel</h5>
        <div class="ml-auto">
            <a href="{{ url_for('admin_lumbungilmu.create') }}" class="btn btn-primary">Tambah Data</a>
        </div>
    </div>
    {% if articles|length != 0 %}
        <div class="modern-table-boxed">
            <div class="d-table-row header">
                <div class="d-table-cell">
                    Judul
                </div>
                <div class="d-table-cell">
                    Kategori
                </div>
                <div class="d-table-cell">
                    Status
                </div>
                <div class="d-table-cell">
                    Tanggal Dibuat
                </div>
                <div class="d-table-cell shrink">
                    Opsi
                </div>
            </div>
            {% for article in articles %}
                <div class="d-table-row">
                    <div class="d-table-cell">
                        <span>
                            {{ article.judul }}
                        </span>
                    </div>
                    <div class="d-table-cell">
                        {{ article.category_name }}
                    </div>
                    <div class="d-table-cell">
                        <span class="tag {% if article.is_active %}green{% else %}red{% endif %}">{% if article.is_active %}Aktif{% else %}Tidak Aktif{% endif %}</span>
                    </div>
                    <div class="d-table-cell">
                        {{ article.created_at.strftime('%d %b %Y') }}
                    </div>
                    <div class="d-table-cell shrink">
                        <a href="{{ url_for('admin_lumbungilmu.edit',id=article._id) }}" class="mr-3">
                            <img src="{{ url_for('static', filename='img/icon/edit.png') }}" width="18" alt="">
                        </a>
                        <a href="{{ url_for('admin_lumbungilmu.delete',id=article._id) }}">
                            <img src="{{ url_for('static', filename='img/icon/delete.png') }}" width="18" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="mt-5">
            <center>
                <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                <div class="mt-4">
                    <h4 class="text-gray400">
                        Data Kosong...
                    </h4>
                </div>
            </center>
        </div>
    {% endif %}
{% endblock %}