{% extends 'base_admin.html' %}
{% set active_page = 'pedati' %}

{% block title %}
    <title>Admin | Pedati</title>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Pedati
    </h2>
    <div class="d-flex">
        <h5 class="text-gray500 mt-3">Header</h5>
        <div class="ml-auto">
            <a href="{{ url_for('admin_pedati.header') }}" class="btn btn-primary">Edit Data</a>
        </div>
    </div>
    <div class="modern-table-boxed">
        <div class="d-table-row header">
            <div class="d-table-cell">
                Nama Gambar
            </div>
            <div class="d-table-cell">
                Opsi
            </div>
        </div>
        <div class="d-table-row">
            <div class="d-table-cell">
                Pedati
            </div>
            <div class="d-table-cell shrink">
                <a href="">
                    <img src="{{ url_for('static', filename='img/icon/delete.png') }}" width="18" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex mt-4">
        <h5 class="text-gray500">Tim Kami</h5>
        <div class="ml-auto">
            <a href="{{ url_for('admin_pedati.create') }}" class="btn btn-primary">Tambah Data</a>
        </div>
    </div>
    {% if teams|length != 0 %}
    <div class="modern-table-boxed">
        <div class="d-table-row header">
            <div class="d-table-cell">
                Nama
            </div>
            <div class="d-table-cell">
                Jabatan
            </div>
            <div class="d-table-cell">
                Email
            </div>
            <div class="d-table-cell">
                Bio
            </div>
            <div class="d-table-cell">
                Sosial Media
            </div>
            <div class="d-table-cell shrink">
                Opsi
            </div>
        </div>
        {% for team in teams %}
            <div class="d-table-row">
                <div class="d-table-cell">
                    {{ team.name }}
                </div>
                <div class="d-table-cell">
                    {{ team.role }}
                </div>
                <div class="d-table-cell">
                    {{ team.email }}
                </div>
                <div class="d-table-cell">
                    {{ team.desc }}
                </div>
                <div class="d-table-cell">
                    {% for socials in team.social %}
                        <a href="{{ socials.url }}" target="_blank" class="{{ socials.type }}-color mr-3">
                            <i class="fa fa-{{ socials.type }}"></i>
                        </a>
                    {% endfor %}
                </div>
                <div class="d-table-cell shrink">
                    <a href="{{ url_for('admin_pedati.edit', email=team.email) }}" class="mr-3">
                        <img src="{{ url_for('static', filename='img/icon/edit.png') }}" width="18" alt="">
                    </a>
                    <a href="{{ url_for('admin_pedati.delete_team',email=team.email) }}">
                        <img src="{{ url_for('static', filename='img/icon/delete.png') }}" width="18" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="mt-5">
            <center>
                <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                <div class="mt-4">
                    <h4 class="text-gray400">
                        Data Kosong...
                    </h4>
                </div>
            </center>
        </div>
    {% endif %}
{% endblock %}