{% extends 'base_admin.html' %}
{% set active_page = 'home' %}

{% block title %}
    <title>Admin</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2 class="mb-0 mt-5">
            Selamat Datang <span class="text-green-logo">{{ current_user.username }}</span>
        </h2>
        <h6 class="text-gray500">
            Di Website Lumbung Tani
        </h6>
        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <div class="box p-5">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" width="50%" alt="">
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{{ url_for('home.index') }}" class="btn btn-primary">Kembali Ke Halaman Utama</a>
        </div>
    </div>
{% endblock %}