<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>404</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="favicon">
    <style>
        body{
            background: #f7f7f7;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .title-error{
			font-size: 170px;
			font-weight: 900;
			color: #84b71c24;
			margin: 0;
			line-height: 120px;
			padding: 0;
		}
		.empty-image{
            width: 200px;
            opacity: 0.5;
		}
		@media screen and (max-width: 425px) {
			.empty-image{
				width: 150px;
			}
        }
        h1{
            font-weight: 700;
        }
        .btn-primary{
            background: #84b71c !important;
            color: #fff !important;
            border-color: transparent !important;
            font-weight: 600 !important;
            box-shadow: 0px 2.5px 8px 0px #84b71c47 !important !important;
        }
        .text-gray400{
            color: #c0c2c3;
        }
    </style>
</head>
<body>
    <section>
		<div class="navbar-container">
			<div class="text-center">
				<div class="mt-5">
                    <img src="{{ url_for('static', filename='img/icon/error.png') }}" class="empty-image" alt="">
				</div>
				<div class="title-error mt-4">
					401
				</div>
				<h1 class="mt-4">
                    Anda tidak memiliki izin untuk membuka halaman ini
				</h1>
				<p class="text-gray400">
                    Kami tidak bisa membuka halaman ini. Mohon login terlebih dahulu.
				</p>
				<a href="{{ url_for('home.index') }}" class="btn btn-primary">
                    Kembali ke Halaman Utama
				</a>
			</div>
		</div>
	</section>
</body>
</html>