@charset "UTF-8";
/**
 * Import Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
*::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em; }

*::-webkit-scrollbar-track {
  background: #edf0f5;
  border-radius: 0.25em; }

*::-webkit-scrollbar-thumb {
  background-color: #d2d3d4;
  border-radius: 0.25em;
  cursor: pointer; }

a:hover {
  color: #84b71c; }

.playfair, .article-content blockquote, .article-content blockquote::before, .article-content blockquote::before span,
.article-content blockquote::before p,
.article-content blockquote::before label {
  font-family: "Playfair Display", serif !important; }

.box-shadow, .mobile-menu, .flag-button, .dropdown-menu, .featured-job, .company-header .company-banner .company-logo, .quiz-item .lang .lang-text, .culture-assesment-box .answer-container .question-distribute-point, .user-list-with-avatar, .dt-search .dt-search-box, .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link .tips, .page-sidebar-layout .page-content .page-header, .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li .child, .notification-dropdown,
.user-dropdown {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03);
  -o-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03); }

.categories .category-list, .categories .category-list .category-link, .categories .category-list:hover, .categories .category-list:hover .category-link, .user-step-link, .press-media .footer .download-icon, .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab .module-link:hover .tips, .toggle-sidebar {
  -webkit-transition: ease 0.25s;
  -moz-transition: ease 0.25s;
  -o-transition: ease 0.25s;
  transition: ease 0.25s; }

.blue-gradient, .persona-modal .persona-description, .quiz-item.blue {
  background: #A0D4FF;
  background: -moz-linear-gradient(-45deg, #A0D4FF 0%, #1292EE 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #A0D4FF), color-stop(100%, #1292EE));
  background: -webkit-linear-gradient(-45deg, #A0D4FF 0%, #1292EE 100%);
  background: -o-linear-gradient(-45deg, #A0D4FF 0%, #1292EE 100%);
  background: -ms-linear-gradient(-45deg, #A0D4FF 0%, #1292EE 100%);
  background: linear-gradient(135deg, #A0D4FF 0%, #1292EE 100%);
  color: #fff; }

.green-gradient, .circle-icon, .guide-box.green, .faq-index-background, .faq-layout::before, .persona-modal .persona-title, .quiz-item.green {
  background: #ceefe8;
  background: -moz-linear-gradient(-45deg, #ceefe8 0%, #3BBEA5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ceefe8), color-stop(100%, #3BBEA5));
  background: -webkit-linear-gradient(-45deg, #ceefe8 0%, #3BBEA5 100%);
  background: -o-linear-gradient(-45deg, #ceefe8 0%, #3BBEA5 100%);
  background: -ms-linear-gradient(-45deg, #ceefe8 0%, #3BBEA5 100%);
  background: linear-gradient(135deg, #ceefe8 0%, #3BBEA5 100%);
  color: #fff; }

.green-gradient.darken {
  background: #3BBEA5;
  background: -moz-linear-gradient(-45deg, #3BBEA5 0%, #269978 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #3BBEA5), color-stop(100%, #269978));
  background: -webkit-linear-gradient(-45deg, #3BBEA5 0%, #269978 100%);
  background: -o-linear-gradient(-45deg, #3BBEA5 0%, #269978 100%);
  background: -ms-linear-gradient(-45deg, #3BBEA5 0%, #269978 100%);
  background: linear-gradient(135deg, #3BBEA5 0%, #269978 100%);
  color: #fff; }

.green-gradient.lighten {
  background: #99e4d4;
  background: -moz-linear-gradient(-45deg, #99e4d4 0%, #ceefe8 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #99e4d4), color-stop(100%, #ceefe8));
  background: -webkit-linear-gradient(-45deg, #99e4d4 0%, #ceefe8 100%);
  background: -o-linear-gradient(-45deg, #99e4d4 0%, #ceefe8 100%);
  background: -ms-linear-gradient(-45deg, #99e4d4 0%, #ceefe8 100%);
  background: linear-gradient(135deg, #99e4d4 0%, #ceefe8 100%);
  color: #fff; }

.red-gradient, .quiz-item.red {
  background: #ff8080;
  background: -moz-linear-gradient(-45deg, #ff8080 0%, #f24d49 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ff8080), color-stop(100%, #f24d49));
  background: -webkit-linear-gradient(-45deg, #ff8080 0%, #f24d49 100%);
  background: -o-linear-gradient(-45deg, #ff8080 0%, #f24d49 100%);
  background: -ms-linear-gradient(-45deg, #ff8080 0%, #f24d49 100%);
  background: linear-gradient(135deg, #ff8080 0%, #f24d49 100%);
  color: #fff; }

.sand-gradient, .quiz-item.yellow {
  background: #E89635;
  background: -moz-linear-gradient(-45deg, #ffe7b8 0%, #FFC555);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffe7b8), color-stop(100%, #FFC555));
  background: -webkit-linear-gradient(-45deg, #ffe7b8 0%, #FFC555);
  background: -o-linear-gradient(-45deg, #ffe7b8 0%, #FFC555);
  background: -ms-linear-gradient(-45deg, #ffe7b8 0%, #FFC555);
  background: linear-gradient(135deg, #ffe7b8 0%, #FFC555);
  color: #fff; }

.pink-gradient, .quiz-item.pink {
  background: #FFB3C3;
  background: -moz-linear-gradient(-45deg, #FFE1E7 0%, #FFB3C3);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #FFE1E7), color-stop(100%, #FFB3C3));
  background: -webkit-linear-gradient(-45deg, #FFE1E7 0%, #FFB3C3);
  background: -o-linear-gradient(-45deg, #FFE1E7 0%, #FFB3C3);
  background: -ms-linear-gradient(-45deg, #FFE1E7 0%, #FFB3C3);
  background: linear-gradient(135deg, #FFE1E7 0%, #FFB3C3);
  color: #fff; }

.purple-gradient, .quiz-item.purple {
  background: #9C6ADE;
  background: -moz-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #E3D0FF), color-stop(100%, #9C6ADE));
  background: -webkit-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: -o-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: -ms-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: linear-gradient(135deg, #E3D0FF 0%, #9C6ADE);
  color: #fff; }

.purple-gradient, .quiz-item.purple {
  background: #9C6ADE;
  background: -moz-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #E3D0FF), color-stop(100%, #9C6ADE));
  background: -webkit-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: -o-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: -ms-linear-gradient(-45deg, #E3D0FF 0%, #9C6ADE);
  background: linear-gradient(135deg, #E3D0FF 0%, #9C6ADE);
  color: #fff; }

* {
  font-family: "Montserrat", sans-serif; }

body {
  background: #F9FAFB;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #000; }

label,
p,
span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

label {
  font-weight: 500; }

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

section {
  padding: 100px 0; }

small {
  font-size: 12px !important; }
  small span {
    font-size: 12px !important; }

a:hover {
  text-decoration: none; }

p.p-home {
  line-height: 24px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    font-size: inherit; }

h2 {
  line-height: 3rem; }

h6 {
  line-height: 30px; }

footer {
  padding: 60px 0;
  background: #fff; }

.box {
  padding: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  float: unset !important;
  border-radius: 10px;
  position: relative; }

.background-gray {
  background: #F9FAFB; }

.tag {
  white-space: nowrap;
  padding: 0px 7px 1px 7px;
  background: #F3FBFF;
  border-radius: 3px;
  font-weight: 500;
  color: #1292EE;
  margin-right: 5px;
  margin-bottom: 3px;
  display: inline-block; }
  .tag.rounded {
    border-radius: 50px !important; }
  .tag.yellow {
    color: #FFC555;
    background: #FFF9EF; }
  .tag.green {
    color: #84b71c;
    background: #84b71c1a; }
  .tag.red {
    color: #f24d49;
    background: #ffebee; }
  .tag.purple {
    color: #9C6ADE;
    background: #f0e5fc; }
  .tag.gray {
    color: #919EAB;
    background: #F4F6F8; }
  .tag.pink {
    color: #FFB3C3;
    background: #FFF9FB; }
  .tag.white-blue {
    color: #1292EE;
    background: #fff; }

.transparent-green {
  background: #CEEFE8;
  border-radius: 0.75rem;
  color: #074F3A; }

span.tag {
  line-height: 25px; }

small.tag {
  line-height: 18px; }

.text-grey {
  color: #888; }

.fw-bold {
  font-weight: 700; }

.text-light-blue {
  color: #A0D4FF !important; }

.fw-normal {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-semi {
  font-weight: 600; }

.fw-black {
  font-weight: 900; }

.text-gray100 {
  color: #F9FAFB; }

.text-gray200 {
  color: #F4F6F8; }

.text-gray300 {
  color: #DFE3E8; }

.text-gray400 {
  color: #C4CDD5; }

.text-gray500 {
  color: #919EAB; }

.text-gray600 {
  color: #637381; }

.text-sand,
.text-sand200 {
  color: #FFC555; }

.text-sand100 {
  color: #ffe7b8; }

.text-sand300 {
  color: #E89635; }

.text-green,
.text-green200 {
  color: #3BBEA5 !important; }

.text-green100 {
  color: #ceefe8; }

.text-green300 {
  color: #269978; }

.text-cherry100 {
  color: #ff8080 !important; }

.text-cherry200 {
  color: #f24d49 !important; }

.text-cherry300 {
  color: #d32f2f !important; }

.text-black {
  color: #000; }

.text-blue100 {
  color: #A0D4FF !important; }

.text-blue200 {
  color: #1292EE !important; }

.text-blue300 {
  color: #005CA4 !important; }

.text-success {
  color: #3BBEA5; }

.text-light-blue {
  color: #A0D4FF !important; }

.text-pink-danger {
  color: #FFE1E7; }

.btn {
  font-size: 14px;
  font-weight: 600; }

.btn-lg {
  font-size: 16px;
  padding: 0.75rem; }

.btn-long {
  width: 200px; }

.btn-xl {
  font-size: 20px;
  padding: 10px; }

.btn-white {
  background: #fff;
  color: #84b71c !important;
  border-color: transparent; }
  .btn-white:hover, .btn-white:focus, .btn-white:disabled, .btn-white:active {
    color: #fff !important;
    background: #84b71c !important;
    border-color: transparent !important; }

.btn-primary {
  background: #84b71c;
  color: #fff;
  border-color: transparent;
  box-shadow: 0px 2.5px 8px 0px #84b71c47 !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:disabled, .btn-primary:active {
    color: #fff !important;
    background: #84b71c !important;
    border-color: transparent !important;
    box-shadow: 0px 2.5px 8px 0px #84b71c47 !important; }

.btn-primary.disabled,
.btn-primary:disabled {
  border: none !important; }

.btn-outline-primary {
  background: #fff;
  border: solid 2px #84b71c;
  color: #84b71c; }
  .btn-outline-primary.btn-sm {
    padding-top: 3px;
    padding-bottom: 3px; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background: #84b71c;
    border: solid 2px #84b71c;
    color: #fff;
    box-shadow: 0px 2.5px 8px 0px #84b71c47; }

.btn-sand {
  background: #FFC555;
  color: #fff;
  box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6);
  -webkit-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6);
  -moz-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6);
  -o-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6); }
  .btn-sand:hover, .btn-sand:focus, .btn-sand:active {
    background: #FFC555;
    color: #fff;
    box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.8);
    -webkit-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.8);
    -moz-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.8);
    -o-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.8); }

.btn-outline-sand {
  background: #fff;
  border: solid 2px #FFC555;
  color: #FFC555; }
  .btn-outline-sand.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px; }
  .btn-outline-sand:hover, .btn-outline-sand:focus, .btn-outline-sand:active {
    background: #FFC555;
    border: solid 2px #FFC555;
    color: #fff;
    box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6);
    -webkit-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6);
    -moz-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6);
    -o-box-shadow: 0px 2.5px 8px 0px rgba(255, 191, 191, 0.6); }

.btn-blue {
  background: #1292EE;
  color: #fff;
  box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
  -webkit-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
  -moz-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
  -o-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4); }
  .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    background: #1292EE;
    color: #fff;
    box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -webkit-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -moz-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -o-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4); }

.btn-outline-blue {
  background: #fff;
  border: solid 2px #1292EE;
  color: #1292EE; }
  .btn-outline-blue.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px; }
  .btn-outline-blue:hover, .btn-outline-blue:focus, .btn-outline-blue:active {
    background: #1292EE;
    border: solid 2px #1292EE;
    color: #fff;
    box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -webkit-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -moz-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -o-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4); }

.btn-danger {
  background: #f24d49;
  color: #fff !important;
  box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4) !important;
  -webkit-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4) !important;
  -moz-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4) !important;
  -o-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4) !important; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #f24d49;
    color: #fff !important;
    box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.6) !important;
    -webkit-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.6) !important;
    -moz-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.6) !important;
    -o-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.6) !important; }

.btn-pink {
  background: #FFB3C3;
  color: #fff;
  box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4);
  -webkit-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4);
  -moz-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4);
  -o-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4); }
  .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background: #FFB3C3;
    color: #fff;
    box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4);
    -webkit-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4);
    -moz-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4);
    -o-box-shadow: 0px 2.5px 8px 0px rgba(255, 112, 119, 0.4); }

.btn-purple {
  background: #9C6ADE;
  color: #fff;
  box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
  -webkit-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
  -moz-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
  -o-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4); }
  .btn-purple:hover, .btn-purple:focus, .btn-purple:active {
    background: #9C6ADE;
    color: #fff;
    box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -webkit-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -moz-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4);
    -o-box-shadow: 0px 2.5px 8px 0px rgba(36, 155, 215, 0.4); }

.btn-outline-purple {
  background: #fff;
  border: solid 2px #9C6ADE;
  color: #9C6ADE; }
  .btn-outline-purple.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px; }
  .btn-outline-purple:hover, .btn-outline-purple:focus, .btn-outline-purple:active {
    background: #9C6ADE;
    border: solid 2px #9C6ADE;
    color: #fff; }

.btn-facebook {
  background: #4267b2;
  color: #fff; }
  .btn-facebook:hover {
    color: #fff; }

.btn-linkedin {
  background: #0077b5;
  color: #fff; }
  .btn-linkedin:hover {
    color: #fff; }

.btn-google {
  background: #f44235;
  color: #fff; }
  .btn-google:hover {
    color: #fff; }

.btn-outline-facebook {
  border: 2px solid #4267b2;
  color: #fff; }
  .btn-outline-facebook:hover {
    color: #fff; }

.btn-outline-linkedin {
  border: 2px solid #0077b5;
  color: #fff; }
  .btn-outline-linkedin:hover {
    color: #fff; }

.btn-outline-google {
  border: 2px solid #f44235;
  color: #fff; }
  .btn-outline-google:hover {
    color: #fff; }

.btn-outline-purple {
  background: #fff;
  border: solid 2px #E3D0FF;
  color: #E3D0FF; }
  .btn-outline-purple.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px; }
  .btn-outline-purple:hover, .btn-outline-purple:focus, .btn-outline-purple:active {
    background: #E3D0FF;
    border: solid 2px #E3D0FF;
    color: #fff; }

.btn-outline-gray {
  background: #fff;
  border: solid 2px #DFE3E8;
  color: #000; }
  .btn-outline-gray.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px; }
  .btn-outline-gray:hover, .btn-outline-gray:focus, .btn-outline-gray:active {
    border: solid 2px #000;
    color: #000; }

.btn-light-green {
  background: #fff;
  color: #3BBEA5;
  border-color: #fff; }

.btn-light-sand {
  background: #fff;
  color: #FFC555;
  border-color: #fff; }

.btn-light-cherry {
  background: #fff;
  color: #f24d49;
  border-color: #fff; }

.btn-light-blue {
  background: #fff;
  color: #1292EE;
  border-color: #fff; }

.btn-light-purple {
  background: #fff;
  color: #9C6ADE;
  border-color: #fff; }

.btn-light-black {
  background: #fff;
  color: #000;
  border-color: #fff;
  border-radius: 50px; }

.logo-white {
  filter: invert(100%) brightness(1000%); }

.home-page-navbar {
  height: 90px;
  width: 100%;
  background: #fff;
  padding: 5px 0;
  box-shadow: 0px 2px 5px rgba(196, 205, 213, 0.12); }
  .home-page-navbar .container {
    height: 100%; }
  .home-page-navbar .navbar-menu {
    list-style: none;
    margin-bottom: 0; }
    .home-page-navbar .navbar-menu .navbar-menu-item {
      float: left;
      margin-right: 40px; }
      .home-page-navbar .navbar-menu .navbar-menu-item .navbar-menu-link {
        color: #333;
        font-size: 14px;
        font-weight: 600; }
  .home-page-navbar .dreamtalent-logo {
    margin-top: -5px; }

.navbar-menu-link {
  color: #333; }

.navbar-menu-link.active {
  color: #84b71c !important; }

.navbar-menu-link:hover {
  color: #84b71c !important; }

.header-background {
  background-image: url("/img/landing-page/tagline-background.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: -1;
  top: -70px;
  left: 0;
  margin-left: -50px; }

.position-relative {
  position: relative; }

.header-background-green-overlay {
  background: #74c9bb;
  position: absolute;
  z-index: -1;
  width: 30%;
  height: 566px;
  top: 0;
  left: 0; }

.letter-spacing-05 {
  letter-spacing: 0.5px; }

.letter-spacing-1 {
  letter-spacing: 1px; }

.letter-spacing-15 {
  letter-spacing: 1.5px; }

.letter-spacing-2 {
  letter-spacing: 2px; }

.letter-spacing-25 {
  letter-spacing: 2.5px; }

.tagline-title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px; }

.tagline-subtitle {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px; }

.science-section {
  position: relative; }
  .science-section::before {
    height: 100%;
    width: 75%;
    background: #74c9bb;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    z-index: -1;
    border-radius: 100px 0 0 10px; }
  .science-section.left::before {
    left: 0;
    right: unset;
    border-radius: 0 100px 10px 0; }

.front-blog {
  position: relative; }
  .front-blog .image {
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px; }
  .front-blog .content {
    padding-left: 150px; }
  .front-blog .title {
    font-weight: 700;
    font-size: 18px; }
    .front-blog .title a {
      font-weight: 700;
      color: #000; }
  .front-blog .description {
    font-size: 12px;
    line-height: 18px; }

.wave-container {
  position: relative;
  padding-top: 100px; }
  .wave-container::before {
    height: 230px;
    width: 100%;
    width: 100%;
    background: #F9FAFB;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    z-index: 0;
    border-radius: 0 0 50% 50%; }

.big-drop-shadow {
  -webkit-box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.1); }

.circle-icon {
  height: 70px;
  width: 70px;
  padding: 10px;
  border-radius: 50%;
  display: inline-block; }

.get-started {
  text-align: center;
  height: 100%;
  color: #000; }

.img-invert {
  filter: invert(100%) brightness(1000%); }

.person {
  position: absolute;
  height: 160px;
  bottom: 0;
  left: 10px;
  z-index: 0; }

.btn-guide {
  position: relative;
  z-index: 1; }
  .btn-guide:hover {
    color: #3BBEA5; }

.guide-box {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 60px; }

.w-20 {
  width: 20%; }

.bottom-line {
  background: #84b71c;
  padding: 10px 0px;
  color: #fff;
  font-weight: 500; }

.form-control {
  font-size: 14px;
  border: solid 1px #F9FAFB;
  background: #F4F6F8;
  border-radius: 5px;
  font-size: 14px; }
  .form-control::placeholder {
    color: #C4CDD5; }
  .form-control:focus {
    border: solid 1px #A0D4FF; }
  .form-control.is_invalid, .form-control.is-invalid {
    border: solid 1px #ffebee;
    background: #ffebee; }
    .form-control.is_invalid::placeholder, .form-control.is-invalid::placeholder {
      color: #ff8080; }

.video-container {
  position: relative; }

.video-intro {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 86%;
  height: 74%;
  margin-left: 14%;
  margin-top: 9%; }

.mobile-menu {
  padding: 10px 0; }

.header-section {
  margin-bottom: 30px;
  padding: 0; }

.gray-separator {
  background: #f7f7f7;
  height: 2px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 1px;
  display: flex;
  justify-content: center; }
  .gray-separator.dark {
    background: #F4F6F8; }
  .gray-separator.box-separator {
    width: calc(100% + 40px);
    margin-left: -20px; }
  .gray-separator .text {
    margin-top: -10px;
    padding: 0 5px;
    background: #fff;
    font-weight: 500; }

.short-separator {
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #dee2e6;
  display: inline-block; }

.article-content p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px; }

.article-content blockquote {
  font-size: 30px !important; }
  .article-content blockquote::before {
    position: absolute;
    content: "“";
    color: #A0D4FF;
    font-size: 110px;
    margin-left: -80px;
    margin-top: -50px; }

.article-container .article-list {
  padding: 20px 0;
  border-bottom: solid 1px #F9FAFB; }
  .article-container .article-list:last-child {
    border-bottom: solid 1px transparent; }
  .article-container .article-list .article-photo {
    height: 190px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-top: 10px; }
  .article-container .article-list .article-detail .title {
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .article-container .article-list .article-detail .title a {
      font-size: 23px;
      font-weight: 700;
      color: #000; }
  .article-container .article-list .article-detail .author {
    font-size: 12px;
    color: #919EAB;
    font-weight: 500; }
  .article-container .article-list .article-detail .description {
    font-size: 13px;
    color: #919EAB; }

.article-container.mini .article-list {
  padding: 10px 0; }
  .article-container.mini .article-list .article-photo {
    height: 120px;
    width: 100%; }
  .article-container.mini .article-list .article-detail {
    width: 100%;
    padding: 0;
    margin-top: 10px; }
    .article-container.mini .article-list .article-detail .title a {
      font-size: 14px; }

.search-form {
  background: #F4F6F8;
  padding: 10px;
  border-radius: 10px; }
  .search-form .form-control {
    background: #fff; }

.note-link-popover,
.note-image-popover,
.note-table-popover {
  display: none; }

.faq-index-background {
  height: 315px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

.faq-article-content {
  padding: 25px 0; }
  .faq-article-content p {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px; }

.card {
  border: solid 3px #F4F6F8;
  border-radius: 0px; }
  .card .card-header {
    padding: 20px;
    background: #fff;
    border-bottom: solid 3px #F4F6F8;
    border-radius: 0px; }
    .card .card-header .accordion-toggler {
      color: #000;
      font-weight: 700;
      font-size: 16px; }
      .card .card-header .accordion-toggler:hover {
        color: #ceefe8; }
  .card:first-child {
    border-radius: 10px 10px 0 0; }
    .card:first-child .card-header {
      border-radius: 5px 5px 0 0; }
  .card:last-child {
    border-radius: 0 0 10px 10px; }
  .card .card-body {
    padding: 20px;
    font-weight: 500; }
  .card.active {
    border: solid 3px #ceefe8; }
    .card.active .card-header {
      background: #ceefe8;
      border-bottom: solid 3px #ceefe8; }
      .card.active .card-header .accordion-toggler {
        color: #fff; }
        .card.active .card-header .accordion-toggler:hover {
          color: #fff; }

.faq-layout::before {
  height: 220px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  content: ""; }

.faq-layout .faq-header {
  padding: 20px 0; }

.faq-layout .faq-content {
  padding: 50px 0; }

.flag-icon {
  border-radius: 2px;
  width: 25px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1); }

.faq-box-list {
  border: solid #F9FAFB 2px;
  margin-bottom: 20px;
  padding-bottom: 50px; }
  .faq-box-list .article-title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    line-height: 34px; }
    .faq-box-list .article-title:hover {
      color: #C4CDD5; }
  .faq-box-list .faq-category {
    height: 65px;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0; }

.category-box {
  transition: ease 0.25s;
  border: solid #F9FAFB 2px; }
  .category-box .category-name {
    color: #000;
    font-weight: 700;
    transition: ease 0.25s; }
  .category-box:hover {
    background: #F5FFF9;
    border: solid #F5FFF9 2px;
    transition: ease 0.25s; }
    .category-box:hover .category-name {
      transition: ease 0.25s;
      color: #3BBEA5; }
  .category-box.active {
    background: #F5FFF9;
    border: solid #F5FFF9 2px; }
    .category-box.active .category-name {
      color: #3BBEA5; }

.flag-button {
  padding: 8px;
  border-radius: 5px;
  background: #fff;
  color: #C4CDD5; }
  .flag-button:hover {
    color: #000; }

.dropdown-menu {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  min-width: 90px; }
  .dropdown-menu .list-dropdown {
    padding: 5px;
    border-radius: 5px; }
    .dropdown-menu .list-dropdown .link-dropdown {
      color: #000;
      font-size: 14px;
      font-weight: 500; }
    .dropdown-menu .list-dropdown:hover {
      background: #F5FFF9; }
      .dropdown-menu .list-dropdown:hover .link-dropdown {
        color: #3BBEA5; }

.language-dropdown .flag-icon {
  margin-right: 10px; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.lowercase {
  text-transform: lowercase; }

.for-box {
  margin-top: 150px;
  padding: 0; }

.for-image {
  height: 150px;
  margin-top: -95px;
  border-radius: 0 0 10px 0; }

.for-column {
  text-align: center; }

.for-classification {
  padding: 10px;
  background: #fff;
  position: absolute;
  bottom: -20px;
  width: 80%;
  color: #3BBEA5;
  font-weight: 700;
  border-radius: 10px 10px 0px 0px;
  left: 10%; }

.type-link {
  color: #fff;
  font-weight: 600;
  padding: 10px 8px 10px 10px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  transition: ease 0.25s; }
  .type-link:first-child {
    margin-left: -10px; }
    .type-link:first-child.active {
      margin-left: 0px; }
  .type-link:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    transition: ease 0.25s; }
  .type-link.active {
    background: #fff;
    color: #3BBEA5; }

.faq-box {
  padding-bottom: 80px; }
  .faq-box .faq-footer {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid #F9FAFB 2px;
    border-radius: 0 0 10px 10px;
    padding: 20px; }
    .faq-box .faq-footer .faq-see-all {
      color: #3BBEA5;
      letter-spacing: 0.5px; }
      .faq-box .faq-footer .faq-see-all:hover {
        color: #269978; }

.faq-menu {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .faq-menu .faq-list {
    padding: 8px 0; }
    .faq-menu .faq-list .faq-link {
      color: #000;
      font-weight: 500;
      font-size: 12px; }
    .faq-menu .faq-list:hover .faq-link {
      color: #3BBEA5; }

.pricing-row {
  margin-top: 100px; }

.pricing-box {
  padding: 0;
  text-align: center;
  border: solid #F5FFF9 2px;
  border-radius: 15px; }
  .pricing-box .pricing-header {
    border-radius: 12px 12px 0 0;
    padding: 20px;
    font-size: 22px;
    font-weight: 700;
    background: #F5FFF9;
    color: #3BBEA5; }
  .pricing-box .pricing-body {
    padding: 40px 20px; }
    .pricing-box .pricing-body .price {
      font-size: 40px;
      font-weight: 700; }
      .pricing-box .pricing-body .price sup,
      .pricing-box .pricing-body .price sub {
        font-size: 12px;
        color: #C4CDD5; }
  .pricing-box .pricing-logo {
    margin-bottom: 20px; }
    .pricing-box .pricing-logo img {
      height: 100px; }
  .pricing-box.good {
    border: solid #ceefe8 2px; }
    .pricing-box.good .pricing-header {
      background: #ceefe8;
      color: #fff; }
  .pricing-box.recommend {
    margin-top: -33px;
    border: solid #E3D0FF 2px; }
    .pricing-box.recommend .pricing-header {
      background: #E3D0FF;
      color: #fff; }
  .pricing-box .pricing-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -40px;
    color: #ceefe8;
    font-weight: 700;
    display: flex;
    align-items: center; }
    .pricing-box .pricing-label .icon {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      padding: 2.5px;
      background: #ceefe8; }
    .pricing-box .pricing-label.purple {
      color: #E3D0FF; }
      .pricing-box .pricing-label.purple .icon {
        border-radius: 50%;
        background: #E3D0FF; }

.step-how-to {
  height: 200px;
  margin-top: 25px;
  padding-bottom: 100px; }
  .step-how-to .step-image {
    position: absolute;
    left: 35px;
    bottom: 0;
    max-width: calc(100% - 70px);
    max-height: 180px; }
  .step-how-to .step-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 15px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: rgba(68, 188, 164, 0);
    background: -moz-linear-gradient(top, rgba(68, 188, 164, 0) 0%, #44bca4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68, 188, 164, 0)), color-stop(100%, #44bca4));
    background: -webkit-linear-gradient(top, rgba(68, 188, 164, 0) 0%, #44bca4 100%);
    background: -o-linear-gradient(top, rgba(68, 188, 164, 0) 0%, #44bca4 100%);
    background: -ms-linear-gradient(top, rgba(68, 188, 164, 0) 0%, #44bca4 100%);
    background: linear-gradient(to bottom, rgba(68, 188, 164, 0) 0%, #44bca4 100%); }
  .step-how-to .number {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #ceefe8;
    background: #fff;
    margin-right: 15px; }

.step-page-number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  background: #3BBEA5;
  color: #fff;
  margin-right: 15px; }

.categories {
  list-style: none;
  padding: 0; }
  .categories .category-list {
    padding: 6px 15px;
    border-radius: 10px; }
    .categories .category-list .category-link {
      color: #000;
      font-weight: 600; }
    .categories .category-list:hover {
      background: #F5FFF9; }
      .categories .category-list:hover .category-link {
        color: #3BBEA5; }

.persona-modal .modal-dialog {
  margin-top: 100px; }

.persona-modal .modal-body {
  overflow: unset; }

.persona-modal .persona-title {
  color: #fff;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 2px; }

.persona-modal .persona-image {
  position: absolute;
  top: 0;
  margin-top: -130px;
  height: 130px; }

.persona-modal .persona-description {
  border-radius: 10px;
  padding: 15px;
  position: relative; }

.step-how-to .step-footer h4 {
  font-size: 16px; }

@media (min-width: 320px) {
  .d-xl-none {
    display: none !important; }
  .d-xl-block {
    display: block !important; } }

@media (min-width: 1024px) {
  .d-sm-none {
    display: none !important; }
  .d-sm-block {
    display: block !important; } }

@media (min-width: 1440px) {
  .d-md-none {
    display: none !important; }
  .d-md-block {
    display: block !important; } }

.toggle-filter-search {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  padding: 0px;
  border: none;
  cursor: pointer; }
  .toggle-filter-search img {
    height: 14px;
    margin-top: -2.5px; }

.search-dark-transparent {
  border-radius: 50px !important;
  padding: 1px 20px;
  background: rgba(0, 0, 0, 0.075);
  color: #fff; }
  .search-dark-transparent .form-control {
    border: transparent 1px solid;
    color: #fff;
    background: transparent; }
    .search-dark-transparent .form-control::placeholder {
      color: rgba(255, 255, 255, 0.5); }

.search-dark-transparent {
  border-radius: 50px !important;
  padding: 1px 20px;
  background: rgba(0, 0, 0, 0.075);
  color: #fff; }
  .search-dark-transparent .form-control {
    border: transparent 1px solid;
    color: #fff;
    background: transparent; }
    .search-dark-transparent .form-control::placeholder {
      color: rgba(255, 255, 255, 0.5); }

.job-list .job_search_sidebar {
  width: 300px;
  display: inline-block; }

.job-list .content {
  width: calc(100% - 303px);
  display: inline-block;
  padding-left: 40px; }

.text-button,
.text-dropdown {
  padding: 5px;
  color: #999 !important;
  border-radius: 5px;
  border: 0px transparent solid !important;
  font-weight: 600;
  background: transparent !important;
  cursor: pointer; }

.dropdown-menu .dropdown-item {
  padding: 10px 15px;
  color: #adb5bd;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600; }

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  background-color: #1abc9c; }

.filters .filter-item {
  background: #F5FFF9;
  padding: 5px 15px;
  border-radius: 50px;
  color: #3BBEA5;
  font-weight: 500;
  display: inline-block;
  margin-right: 5px; }
  .filters .filter-item img {
    margin-top: -1px; }
  .filters .filter-item.gray {
    background: #F4F6F8;
    color: #C4CDD5; }

.irs--round .irs-handle {
  top: 30px !important;
  width: 15px !important;
  height: 15px !important;
  border: 4px solid #3BBEA5 !important;
  background-color: white;
  border-radius: 50% !important; }

.irs--round .irs-bar {
  background: #3BBEA5 !important; }

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  background: #3BBEA5 !important; }

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  border-top-color: #3BBEA5 !important; }

.job-box {
  padding: 25px;
  margin-bottom: 10px; }
  .job-box .job-detail {
    margin-left: 30px; }
  .job-box .job-table-status {
    position: absolute;
    bottom: 25px;
    left: 25px; }

.requirement-list {
  padding-left: 10px; }
  .requirement-list li {
    padding: 5px 0; }

.featured-job {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #F9FAFB; }

.vertical-job-box {
  margin-bottom: 0;
  height: 180px; }
  .vertical-job-box .job-title {
    font-size: 14px;
    font-weight: 500;
    color: #000; }

.question-legend {
  height: 16px;
  width: 16px;
  background: #e7e7e7;
  margin-right: 10px;
  border-radius: 4px; }
  .question-legend.active {
    background: #0abde3; }

.day-box {
  padding: 4px;
  color: #C4CDD5;
  background: #F9FAFB;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px; }
  .day-box.active {
    color: #3BBEA5;
    background: #F5FFF9; }

.btn-big-plus {
  background: transparent;
  padding: 0; }
  .btn-big-plus .plus-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    background: #C4CDD5;
    display: inline-block;
    margin-right: 10px; }
    .btn-big-plus .plus-icon .plus-symbol {
      height: 16px;
      width: 16px; }
  .btn-big-plus.blue {
    color: #1292EE; }
    .btn-big-plus.blue .plus-icon {
      background: #1292EE; }
  .btn-big-plus.green {
    color: #3BBEA5; }
    .btn-big-plus.green .plus-icon {
      background: #3BBEA5; }

.popover-body {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.03) !important;
  border-radius: 7px !important;
  font-weight: 600;
  font-size: 12px;
  padding: 10px 15px;
  color: #999 !important; }

.popover {
  border: 0px solid #e9ecef !important;
  border-radius: 7px !important; }

.bs-popover-top .arrow::before,
.bs-popover-auto[x-placement^="top"] .arrow::before {
  border-top-color: #eee; }

.bs-popover-left .arrow::before,
.bs-popover-auto[x-placement^="left"] .arrow::before {
  border-left-color: #eee; }

.bs-popover-right .arrow::before,
.bs-popover-auto[x-placement^="right"] .arrow::before {
  border-right-color: #eee; }

.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #eee; }

.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #eee; }

.pagination .page-item .page-link {
  padding: 7.5px;
  text-align: center;
  height: 35px;
  min-width: 35px;
  border-radius: 3px;
  margin: 0 5px;
  font-weight: 500;
  border-color: transparent;
  color: #84b71c !important;
  background: transparent; }
  .pagination .page-item .page-link:hover {
    color: #84b71c !important;
    background: #F9FAFB !important; }

.pagination .page-item.active .page-link {
  background: #84b71c !important;
  border-color: #84b71c !important;
  box-shadow: 0px 2.5px 8px 0px #84b71c47 !important;
  color: #fff !important; }
  .pagination .page-item.active .page-link:hover {
    color: #fff !important; }

.company-header .company-banner {
  height: 400px;
  width: 100%;
  background: #F4F6F8;
  position: relative;
  background-size: cover;
  background-position: center; }
  .company-header .company-banner .company-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    background: #fff;
    background-repeat: no-repeat;
    left: 30px;
    background-size: contain;
    background-position: center; }

.company-header .company-detail {
  padding-top: 20px;
  padding-bottom: 20px; }

.progress {
  height: 1rem !important;
  width: 100% !important;
  margin-left: 0px !important;
  border-radius: 50px;
  background-color: #f8f8f8 !important; }
  .progress .progress-bar {
    background: linear-gradient(to right, #3498db 0%, #5bbcf8 100%);
    border-radius: 50px; }

@-webkit-keyframes zigzag {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -3px; }
  100% {
    margin-left: 0; } }

@keyframes zigzag {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -3px; }
  100% {
    margin-left: 0; } }

.user-step-link {
  padding: 1.5rem;
  background: #FFF9EF;
  border: solid 2px #FFF9EF;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  border-radius: 10px; }
  .user-step-link:hover {
    border: solid 2px #FFC555; }
  .user-step-link .step-icon {
    width: 20px; }
    .user-step-link .step-icon .arrow-icon {
      animation-name: zigzag;
      animation-duration: 1s;
      animation-iteration-count: infinite; }
  .user-step-link .step-text {
    color: #FFC555;
    margin-left: 0.5rem;
    font-weight: 900; }
  .user-step-link.done {
    background: #ceefe8;
    border: solid 2px #ceefe8;
    color: #3BBEA5; }
    .user-step-link.done:hover {
      border: solid 2px #ceefe8; }
    .user-step-link.done .step-text {
      color: #3BBEA5; }
    .user-step-link.done .step-icon {
      width: 20px; }
      .user-step-link.done .step-icon .arrow-icon {
        animation-name: none; }

.quiz-item {
  position: relative;
  width: 200px;
  height: 240px;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  padding-top: 50px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  white-space: normal;
  text-align: center; }
  .quiz-item .small-line {
    width: 15px;
    height: 2px;
    background: #fff;
    margin: 5px 0;
    border-radius: 1px; }
  .quiz-item .time {
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 10px;
    width: 100px !important;
    text-align: left;
    font-weight: 500; }
    .quiz-item .time i {
      margin-right: 2px; }
  .quiz-item .lang {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 500;
    color: #fff; }
    .quiz-item .lang .lang-text {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      font-size: 10px;
      color: #000;
      border-radius: 5px;
      background: #fff;
      width: 110px;
      margin-top: -41px;
      text-align: center; }
  .quiz-item:hover .lang .lang-text {
    display: inline-block; }
  .quiz-item .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    padding-bottom: 15px; }
    .quiz-item .footer .title {
      font-size: 16px;
      font-weight: 500; }
  .quiz-item.green a {
    color: #fff; }
  .quiz-item.blue a {
    color: #fff; }
  .quiz-item.red a {
    color: #fff; }
  .quiz-item.yellow a {
    color: #fff; }
  .quiz-item.purple a {
    color: #fff; }
  .quiz-item.pink a {
    color: #fff; }
  .quiz-item .is-on-progress {
    display: none; }
  .quiz-item .is-done {
    display: none; }
  .quiz-item.on-progress .is-on-progress {
    display: block; }
  .quiz-item.done .is-done {
    display: block; }
  .quiz-item .progress {
    background: rgba(255, 255, 255, 0.4) !important; }
    .quiz-item .progress .bar {
      background: #fff;
      border-radius: 50px; }
  .quiz-item .done-text {
    padding: 5px 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px; }

.types {
  display: flex; }
  .types .type {
    position: relative;
    height: 570px;
    width: 50%;
    padding-top: 80px; }
    .types .type:first-child {
      padding-right: 60px; }
      .types .type:first-child .type-image {
        margin-right: 60px; }
    .types .type:last-child {
      padding-left: 60px; }

.type-title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px; }

.type-sub-title {
  font-weight: 600;
  font-size: 18px; }

.type-sub-content {
  width: 187px;
  font-size: 14px;
  font-weight: 400; }

.btn-type {
  width: 187px;
  font-size: 14px;
  padding: 0.5rem; }

.type-image {
  position: absolute;
  bottom: 25px;
  right: 0;
  z-index: -1; }

.header-split-section {
  height: 570px;
  padding: 0;
  position: relative; }
  .header-split-section::after {
    content: "";
    height: 570px;
    position: absolute;
    top: 0;
    width: 50%;
    background: #e3f5f1;
    z-index: -2;
    margin-left: 50%;
    border-radius: 0 0 0 50px; }

.split-background {
  padding: 60px 0; }
  .split-background::after {
    content: "";
    height: 100%;
    position: fixed;
    top: 0;
    width: 50%;
    background: #F9FAFB;
    z-index: -2;
    margin-left: 50%; }

.button-group-login {
  width: 320px; }

.btn-square {
  height: 42px;
  width: 42px;
  padding-top: 8px;
  padding-bottom: 8px; }

.or-button-group {
  display: flex;
  justify-content: space-between; }
  .or-button-group .btn-outline-primary {
    height: 42px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2rem;
    padding-right: 2rem; }

.sign-image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 50px;
  margin-bottom: -20px; }

@media (max-width: 1199.5px) {
  .header-background {
    width: 119%;
    margin-left: -95px; }
  .tagline-title {
    font-size: 22px; }
  .guide-box {
    padding: 15px 35px; }
  .step-how-to {
    height: 130px; }
    .step-how-to .step-footer {
      display: flex;
      align-items: center; }
      .step-how-to .step-footer h4 {
        font-size: 18px;
        margin: 0; }
    .step-how-to .step-image {
      max-height: 145px; } }

@media (max-width: 991.5px) {
  body {
    overflow-x: hidden; }
  .header-split-section {
    height: auto; }
    .header-split-section::after {
      display: none; }
  .types {
    display: block; }
    .types .type {
      position: relative;
      padding-top: 40px;
      width: 100%;
      height: 470px; }
      .types .type:first-child {
        padding-right: 0; }
        .types .type:first-child .type-image {
          margin-right: 0; }
      .types .type:last-child {
        padding-left: 0; }
        .types .type:last-child::after {
          width: 200%;
          height: 470px;
          background: #e3f5f1;
          content: "";
          position: absolute;
          z-index: -2;
          left: -50%;
          top: 0; }
      .types .type .type-image {
        height: 300px; }
  .split-background {
    padding: 0; }
    .split-background::after {
      display: none; }
  .header-background {
    display: none; }
  .header-background-green-overlay {
    display: none; }
  .home-page-navbar .dreamtalent-logo {
    filter: none; }
  .guide-box {
    padding: 10px; }
  .video-container {
    width: 75%;
    display: inline-block; }
  .home-page-navbar {
    background: #fff; } }

@media (max-width: 767.5px) {
  .video-container {
    width: 100%; }
  .science-section::before {
    width: 100%; }
  .big-drop-shadow {
    box-shadow: none; }
  .wave-container {
    padding-top: 75px; }
    .wave-container::before {
      display: none; }
  .science-section::before {
    border-radius: 100px 0 0 0; }
  .science-section.left::before {
    border-radius: 0 100px 0 0; }
  .person {
    height: 70px;
    left: 30px;
    z-index: 2; }
  .front-blog .title {
    font-size: 16px;
    margin-bottom: 5px; }
  .front-blog .description {
    font-size: 10px;
    line-height: 16px; } }

@media (max-width: 0) {
  .types .type:first-child .type-image {
    margin-right: -20px; }
  .types .type:last-child {
    background: #e3f5f1; }
    .types .type:last-child::after {
      display: none; }
    .types .type:last-child .type-image {
      margin-right: -50px; }
  .type-title {
    font-size: 28px; }
  .type-sub-title {
    font-size: 16px; }
  .type-sub-content {
    font-size: 12px; } }

.has-search .form-control {
  padding-left: 50px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 7px; }

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3.375rem;
  height: 2.375rem;
  line-height: 45px;
  text-align: center;
  pointer-events: none;
  color: #aaa; }

.company-dropdown {
  width: 300px;
  padding-top: 0;
  padding-bottom: 0;
  top: 10px; }
  .company-dropdown .company-dropdown-container {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto; }
  .company-dropdown .company-logo {
    width: 35px;
    height: 35px; }

.split-background-green {
  padding: 60px 0; }

.split-background-green::after {
  content: "";
  height: 100%;
  position: fixed;
  top: 0;
  width: 50%;
  background: #e3f5f1;
  z-index: -2;
  margin-left: 50%; }

.company-logo {
  background: #fff;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.03); }

.status-quiz {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 130px;
  width: 143px;
  text-align: center;
  z-index: 0;
  border-top-right-radius: 10px;
  right: 0; }

.status-quiz span.text-status-quiz {
  font-size: 12px;
  color: #fff;
  background: #f1c40f;
  text-transform: uppercase;
  padding: 48px 0px 8px 58px;
  width: 281px;
  text-align: center;
  font-weight: 600;
  display: block;
  position: absolute;
  left: -30px;
  top: -49px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03);
  transform: rotate(40deg); }

.status-quiz.two.status-quiz span.text-status-quiz {
  background: #fa6e6f; }

.status-quiz.three.status-quiz span.text-status-quiz {
  background: #05aea7; }

.culture-assesment-box {
  padding: 0; }
  .culture-assesment-box .question-image {
    height: 300px;
    width: 100%;
    border-radius: 10px 0 0 0;
    background-position: center;
    background-size: cover; }
  .culture-assesment-box .question-text {
    padding: 20px; }
  .culture-assesment-box .answer-container {
    padding: 20px; }
    .culture-assesment-box .answer-container .question-distribute-point {
      padding: 20px;
      border-radius: 10px;
      width: calc(100% + 100px);
      margin-left: -100px;
      background: #fff; }
    .culture-assesment-box .answer-container .answer-letter {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      color: #3BBEA5;
      background: #F5FFF9;
      padding: 5px; }
    .culture-assesment-box .answer-container .answer-text {
      font-weight: 500; }

.press-medias {
  margin-top: 60px; }

.press-media {
  height: 263px;
  position: relative;
  margin-bottom: 50px; }
  .press-media .press-image {
    width: 240px;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -120px;
    margin-top: -20px; }
  .press-media .footer {
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .press-media .footer .title {
      border-radius: 0 40px 0 10px;
      height: inherit;
      width: 76%;
      background-color: #fff;
      padding: 31px 24px;
      font-size: 16px;
      color: #000;
      font-weight: 700; }
      .press-media .footer .title .logo {
        margin-top: -4px; }
    .press-media .footer .download-icon {
      height: 45px;
      width: 45px;
      margin: 15px;
      padding: 7px;
      border-radius: 50%;
      background-color: transparent;
      border: none; }
      .press-media .footer .download-icon img {
        width: 30px;
        height: 30px; }
      .press-media .footer .download-icon:hover {
        background-color: rgba(255, 255, 255, 0.2); }
  .press-media.green {
    background-color: #3BBEA5; }
  .press-media.pale-red {
    background-color: #c16a7d; }

.description-from-summernote {
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif !important;
  color: #000; }
  .description-from-summernote span, .description-from-summernote label, .description-from-summernote p, .description-from-summernote ul, .description-from-summernote li {
    font-size: 14px !important;
    font-family: "Montserrat", sans-serif !important;
    color: #000 !important; }
  .description-from-summernote ul li {
    margin-bottom: 12px !important; }

.background-white {
  background: #fff; }

.modern-table-boxed {
  display: table;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0px 5px; }
  .modern-table-boxed .d-table-row {
    background: #fff;
    font-weight: 500;
    height: 60px;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.02); }
    .modern-table-boxed .d-table-row.header {
      background: transparent;
      box-shadow: none !important;
      color: #C4CDD5; }
    .modern-table-boxed .d-table-row.selectable {
      opacity: 0.5; }
      .modern-table-boxed .d-table-row.selectable.checked {
        opacity: 1; }
    .modern-table-boxed .d-table-row .d-table-cell {
      vertical-align: middle;
      padding: 10px; }
      .modern-table-boxed .d-table-row .d-table-cell:first-child {
        border-radius: 5px 0 0 5px;
        padding-left: 15px; }
      .modern-table-boxed .d-table-row .d-table-cell:last-child {
        border-radius: 0 5px 5px 0;
        padding-right: 15px; }
      .modern-table-boxed .d-table-row .d-table-cell.shrink {
        width: 1%;
        white-space: nowrap; }
    .modern-table-boxed .d-table-row.is-error {
      color: #f24d49;
      background: #ffebee; }
  .modern-table-boxed.narrow .d-table-row {
    height: 40px; }

@media (max-width: 575px) {
  .modern-table-boxed {
    margin-top: 15px; }
    .modern-table-boxed .d-table-row {
      position: relative;
      display: block !important;
      height: auto;
      padding: 15px 0;
      border-radius: 10px;
      margin-bottom: 10px; }
      .modern-table-boxed .d-table-row.header {
        display: none !important; }
      .modern-table-boxed .d-table-row .d-table-cell {
        display: block !important;
        padding: 3px 15px;
        font-size: 12px; }
        .modern-table-boxed .d-table-row .d-table-cell:first-child {
          padding-right: 120px;
          font-size: 14px;
          margin-bottom: 5px; }
        .modern-table-boxed .d-table-row .d-table-cell.action {
          position: absolute;
          top: 10px;
          right: 0px;
          display: inline-block; }
          .modern-table-boxed .d-table-row .d-table-cell.action .ml-3 {
            margin-left: 7px !important; }
        .modern-table-boxed .d-table-row .d-table-cell.shrink {
          width: auto; }
        .modern-table-boxed .d-table-row .d-table-cell.xs-6 {
          display: inline-block !important;
          max-width: calc(50% - 5px); }
        .modern-table-boxed .d-table-row .d-table-cell.sm-vertical-top {
          vertical-align: top !important; } }

.strikethrough {
  text-decoration: line-through; }

.price-feature {
  margin-top: 2rem; }

.pointer {
  cursor: pointer; }

.background-green {
  background: #ceefe8; }

.btn-light-green {
  background: #fff;
  color: #3BBEA5;
  border-color: #fff; }

.text-partners {
  filter: grayscale(1);
  opacity: 0.3; }

.partners {
  background-image: url("../img/landing_page/Partners.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(0.7);
  filter: grayscale(1);
  opacity: 0.3;
  transition: all .25s; }
  .partners:hover {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(0.75);
    transition: all .25s; }
  .partners.the-pallace {
    background-position: 78.405% 0px;
    width: 160px;
    height: 93px; }
  .partners.bca {
    background-position: 38.265% 15px;
    width: 141px;
    height: 74px; }
  .partners.aiesec {
    background-position: 29.76% 20px;
    width: 222px;
    height: 97px; }
  .partners.ugm {
    background-position: 2.79% 0px;
    width: 84px;
    height: 93px; }
  .partners.penabur {
    background-position: 0 0px;
    width: 70px;
    height: 93px; }
  .partners.binus {
    background-position: 6.26% 0px;
    width: 139px;
    height: 93px; }
  .partners.kwik {
    background-position: 22.25% 0px;
    width: 170px;
    height: 93px; }
  .partners.macquire {
    background-position: 11.67% 0px;
    width: 91px;
    height: 93px; }
  .partners.itb {
    background-position: 17.88% 0px;
    width: 93px;
    height: 93px; }
  .partners.alpha-momentum {
    background-position: 100% 35px;
    width: 148px;
    height: 63px; }
  .partners.ui {
    background-position: 15.075% 0px;
    width: 64px;
    height: 93px; }
  .partners.ubm {
    background-position: 47.95% 0px;
    width: 119px;
    height: 85px; }
  .partners.astra {
    background-position: 70.68% 20px;
    width: 260px;
    height: 93px; }
  .partners.kopi-kenangan {
    background-position: 54.17% 9px;
    width: 177px;
    height: 93px; }
  .partners.gojek {
    background-position: 61.405% 27px;
    width: 150px;
    height: 93px; }
  .partners.garuda {
    background-position: 91.12% 0px;
    width: 157px;
    height: 93px; }
  .partners.ubs {
    background-position: 84.8% 16px;
    width: 145px;
    height: 93px; }
  .partners.unilever {
    background-position: 43.85% 0px;
    width: 73px;
    height: 85px; }

.kyc-form tr {
  vertical-align: top; }
  .kyc-form tr td:first-child {
    font-size: 16px;
    font-weight: 700; }

.kyc-form .question {
  font-size: 16px;
  font-weight: 700; }

.kyc-form .number-input {
  width: 150px; }

.facebook-color {
  color: #3b5998 !important;
  font-size: 18px; }

.twitter-color {
  color: #55acee !important;
  font-size: 18px; }

.instagram-color {
  color: #f40083 !important;
  font-size: 18px; }

.linkedin-color {
  color: #007bb5 !important;
  font-size: 18px; }

.wa-content {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  line-height: 51px;
  text-align: center;
  cursor: pointer;
  background: #84b71c;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  bottom: 13px;
  position: fixed;
  right: 20px;
  z-index: 99999999 !important;
}

.team-member, .team-member .team-img {
  position: relative; }

.team-member {
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden; }

.team-member, .team-member .team-img {
  position: relative; }

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: rgba(0, 185, 118, 0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.team-member:hover .team-hover .desk {
  top: 35%; }

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1; }

.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px; }

.desk, .desk h4, .team-hover .s-link a {
  color: #222; }

.team-member:hover .team-hover .s-link {
  bottom: 15%; }

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1; }

.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 35px; }

.desk, .desk h4, .team-hover .s-link a {
  color: #222; }

.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px; }

.team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%; }

.team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase; }

.team-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  letter-spacing: 1px; }

.text-white {
  color: #fff; }

.small-header {
  width: 100%;
  height: 45px;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #eee; }

.circle-slider {
  width: 40px;
  height: 40px;
  background: #000;
  text-align: center;
  padding: 0px;
  border-radius: 50px;
  font-weight: 900;
  font-size: 27px; }

.text-green-logo {
  color: #84b71c; }

.color-dark-title {
  color: #38454e; }

.note-box {
  height: 300px;
  padding-bottom: 115px;
  margin-bottom: 30px;
}

.note-footer {
  position: absolute;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 2px solid #C4CDD5;
  padding: 15px;
  z-index: 1040;
  background: white; }
  .note-footer .note-input-text {
    resize: none; }

.send-button {
  height: 40px;
  width: 40px;
  line-height: 25px;
  border-radius: 50%; }
  .send-button img {
    margin-left: -2.5px; }

.note-history {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 6px;
  left: 0;
  transition: background .3s ease-out .1s;
  width: 100%;
  z-index: 100; }
  .note-history .note-pusher {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 12px; }
  .note-history .note-child {
    padding-left: 70px;
    margin-bottom: 25px; }
    .note-history .note-child:last-child {
      margin-bottom: 0; }
    .note-history .note-child .note-chat-container {
      border-left: solid 2px #F5F9FA;
      padding-left: 30px; }
      .note-history .note-child .note-chat-container .note-reply {
        display: none; }
    .note-history .note-child .note-reply-container {
      padding-right: 15px;
      padding-bottom: 15px; }
      .note-history .note-child .note-reply-container .avatar {
        height: 30px;
        width: 30px; }
      .note-history .note-child .note-reply-container .note-input-text {
        height: 40px; }

.note-chat-container {
  transition: padding-left 0.3s cubic-bezier(0.69, 0, 0.79, 0.14);
  padding-left: 0; }
  .note-chat-container .note-chat {
    padding-left: 15px;
    padding-right: 15px; }
    .note-chat-container .note-chat .note-chat-bubble {
      background: #F5F9FA;
      border-radius: 6px 6px 1px 0px;
      padding: 10px;
      color: #454F5B;
      font-size: 13px;
      margin-bottom: 6px;
      font-weight: 500;
      text-align: left; }
    .note-chat-container .note-chat .note-chat-detail {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 15px; }
      .note-chat-container .note-chat .note-chat-detail .note-chat-time {
        color: #637381;
        font-weight: 500;
        margin: 0 10px;
        font-size: 12px; }
      .note-chat-container .note-chat .note-chat-detail .note-chat-avatar img {
        height: 30px;
        width: 30px; }
      .note-chat-container .note-chat .note-chat-detail .note-reply {
        margin: 0 10px;
        font-size: 12px;
        font-weight: 500; }
    .note-chat-container .note-chat.me .note-chat-bubble {
      background: #dee2e680; }
    .note-chat-container .note-chat.child {
      padding-left: 100px; }

.note-form-sidebar {
  position: fixed;
  width: inherit;
  background: white;
  top: 70px;
  margin-left: -20px;
  padding: 10px 35px 10px 15px; }

.user-list-with-avatar {
  background: #84b71c30;
  color: #84b71c;
  font-weight: 500;
  border-radius: 50px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-right: 10px; }
  .user-list-with-avatar .delete-button {
    color: #ff8080; }

.field-icon {
  float: right;
  margin-left: 13px !important;
  margin-top: -25px;
  position: relative;
  padding-right: 31px;
  z-index: 2; }

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #84b71c !important;
  border-color: #84b71c !important;
  border: 2px solid #84b71c !important; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: unset; }

.login-form {
  box-shadow: 7px 19px 14px 0px #e7e7e769;
  border-radius: 6px; }

.dt-search {
  display: flex;
  align-items: center; }
  .dt-search .dt-search-box {
    padding-left: 1.5rem;
    padding-right: .5rem;
    background: #fff;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center; }
    .dt-search .dt-search-box .filter {
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: solid 1px #F4F6F8;
      white-space: nowrap; }
      .dt-search .dt-search-box .filter a {
        color: #000;
        font-weight: 700; }
    .dt-search .dt-search-box .search-field {
      width: 100%; }
      .dt-search .dt-search-box .search-field .search-input {
        background: transparent;
        border: none;
        width: 100%; }
        .dt-search .dt-search-box .search-field .search-input::placeholder {
          color: #C4CDD5; }
    .dt-search .dt-search-box .search-button {
      justify-self: end; }
      .dt-search .dt-search-box .search-button .btn-search {
        height: 28px;
        width: 28px;
        padding: 3px;
        border-radius: 50%;
        font-size: 12px; }
  .dt-search .sort-button {
    width: 150px;
    margin-left: 1.5rem; }
    .dt-search .sort-button .link-sort {
      color: #000;
      font-weight: 700;
      width: 100%;
      display: block; }
    .dt-search .sort-button .sort-selected-title {
      font-size: 8px;
      color: #C4CDD5;
      font-weight: 500; }
    .dt-search .sort-button .sort-selected {
      margin-top: -2px; }

.page-sidebar-layout .page-sidebar {
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.03);
  position: fixed;
  height: 100%;
  z-index: 1030;
  width: 300px;
  left: 0;
  top: 0;
  transition: 0.3s all; }
  .page-sidebar-layout .page-sidebar .toggle-sidebar {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none; }
  @media (max-width: 590px) {
    .page-sidebar-layout .page-sidebar {
      overflow-x: hidden; }
      .page-sidebar-layout .page-sidebar .toggle-sidebar {
        display: block;
        z-index: 1040; } }
  .page-sidebar-layout .page-sidebar .company-detail-text {
    white-space: nowrap;
    overflow: hidden;
    padding: 25px;
    margin-top: 20px; }
  .page-sidebar-layout .page-sidebar .company-logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
    margin-top: 25px; }
  .page-sidebar-layout .page-sidebar .company-logo-container {
    height: 107px;
    width: 100%;
    position: relative;
    margin-top: 20px; }
  .page-sidebar-layout .page-sidebar .sidebar-module-tab {
    padding: 0 25px; }
    .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link {
      margin-right: 10px;
      padding: 5px;
      text-align: center;
      height: 40px;
      width: 50px;
      border-radius: 15px 15px 0 0;
      display: inline-block;
      position: relative;
      cursor: pointer; }
      .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link img {
        margin-top: 5px; }
      .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active {
        background: #84b71c; }
        .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active img {
          filter: grayscale(100%) brightness(250%); }
        .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active::after, .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active::before {
          position: 990;
          height: 20px;
          width: 20px;
          position: absolute;
          bottom: 0;
          content: '';
          background: transparent; }
        .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-1 {
          background: #6CB2E2; }
          .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-1::after, .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-1::before {
            border: solid #6CB2E2 7px; }
        .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-2 {
          background: #5BAADF; }
          .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-2::after, .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-2::before {
            border: solid #5BAADF 7px; }
        .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-3 {
          background: #49A2DE; }
          .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-3::after, .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active.blue-3::before {
            border: solid #49A2DE 7px; }
        .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active::after {
          right: 0;
          margin-right: -13px;
          margin-bottom: -7px;
          border-radius: 0 0 0 20px;
          border-right: 0 !important;
          border-top: 0 !important; }
        .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link.active::before {
          left: 0;
          margin-left: -13px;
          margin-bottom: -7px;
          border-radius: 0 0 20px 0;
          border-left: 0 !important;
          border-top: 0 !important; }
      .page-sidebar-layout .page-sidebar .sidebar-module-tab .module-link .tips {
        position: absolute;
        margin-left: 60px;
        font-size: 12px;
        color: #000;
        width: 110px;
        text-align: center;
        font-weight: 500;
        margin-top: -17.5px;
        height: 20px;
        background: #fff;
        border-radius: 3px;
        opacity: 0; }
  .page-sidebar-layout .page-sidebar .sidebar-module-name {
    padding: 15px 25px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-image: url("/img/icon_asset/overlay_tab_module.png");
    background-size: cover;
    background-position: left;
    position: 1020;
    position: relative; }
    .page-sidebar-layout .page-sidebar .sidebar-module-name.blue {
      background-color: #3BBEA5; }
    .page-sidebar-layout .page-sidebar .sidebar-module-name.purple {
      background-color: #9C6ADE; }
    .page-sidebar-layout .page-sidebar .sidebar-module-name.yellow {
      background-color: #E89635; }
  .page-sidebar-layout .page-sidebar .sidebar-menu {
    padding-left: 0;
    list-style: none;
    transition: all 0.3s;
    overflow-y: auto;
    max-height: calc(100% - 52px);
    position: relative;
    padding: 20px 0px;
    white-space: nowrap; }
    .page-sidebar-layout .page-sidebar .sidebar-menu li {
      padding: 11px 23px 11px 21px;
      margin-top: 10px; }
      .page-sidebar-layout .page-sidebar .sidebar-menu li:first-child {
        margin-top: 0; }
      .page-sidebar-layout .page-sidebar .sidebar-menu li a {
        color: #b2b7bb;
        font-weight: 500;
        padding: 0px 10px; }
        .page-sidebar-layout .page-sidebar .sidebar-menu li a .image {
          width: 20px;
          margin-right: 10px;
          filter: grayscale(100%) brightness(119%);
          display: inline-block;
          vertical-align: middle;
          margin-top: -3px;
          transition: all .25s; }
        .page-sidebar-layout .page-sidebar .sidebar-menu li a span {
          vertical-align: middle;
          transition: all .25s; }
        .page-sidebar-layout .page-sidebar .sidebar-menu li a.active {
          color: #84b71c; }
      .page-sidebar-layout .page-sidebar .sidebar-menu li.active {
        /* border-bottom: 3px solid #84b71c; */
        background: #84b71c38;
        color: #84b71c; }
        .page-sidebar-layout .page-sidebar .sidebar-menu li.active a .image {
          filter: none;
          transition: all .25s; }
        .page-sidebar-layout .page-sidebar .sidebar-menu li.active a span {
          color: #84b71c;
          transition: all .25s; }
      .page-sidebar-layout .page-sidebar .sidebar-menu li:hover a .image {
        filter: none; }
      .page-sidebar-layout .page-sidebar .sidebar-menu li:hover a span {
        color: #84b71c; }
      .page-sidebar-layout .page-sidebar .sidebar-menu li .child {
        display: none;
        list-style: none;
        padding-left: 32px;
        margin: 5px 0; }
        .page-sidebar-layout .page-sidebar .sidebar-menu li .child li {
          padding: 5px 15px 7px 15px;
          margin-top: 10px;
          border-radius: 5px; }
          .page-sidebar-layout .page-sidebar .sidebar-menu li .child li a span {
            color: #C4CDD5; }
          .page-sidebar-layout .page-sidebar .sidebar-menu li .child li a:hover span {
            color: #84b71c; }

.page-sidebar-layout .page-content {
  padding-left: 300px;
  transition: 0.3s padding-left;
  width: 100%; }
  .page-sidebar-layout .page-content .page-header {
    transition: 0.3s padding-left;
    background: #fff;
    padding-left: 320px;
    position: fixed;
    z-index: 1020;
    height: 65px;
    width: 100%;
    padding: 18px 30px;
    padding-left: 330px;
    left: 0;
    top: 0; }
    .page-sidebar-layout .page-content .page-header .avatar-link {
      color: #000; }
    @media (max-width: 695px) {
      .page-sidebar-layout .page-content .page-header .name {
        display: none; } }
  .page-sidebar-layout .page-content .page-body {
    padding: 30px; }

@media (max-width: 1132px) {
  .page-sidebar-layout .page-content {
    padding-left: 66px; }
  .page-sidebar-layout .page-sidebar {
    border: none;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.03);
    -o-box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.03); } }

@media (max-width: 590px) {
  .page-sidebar-layout .page-sidebar {
    width: 280px; }
  .page-sidebar-layout .page-content {
    padding-left: 0 !important; }
    .page-sidebar-layout .page-content .page-header {
      padding-left: 15px !important;
      padding-right: 15px !important; }
    .page-sidebar-layout .page-content .page-body {
      padding: 0px !important; } }

.page-sidebar-layout.closed-sidebar {
  transition: 0.3s all; }
  .page-sidebar-layout.closed-sidebar .page-sidebar {
    width: 70px;
    padding: 20px 0px;
    background-image: none; }
    @media (max-width: 590px) {
      .page-sidebar-layout.closed-sidebar .page-sidebar {
        padding: 0;
        width: 0px; } }
    .page-sidebar-layout.closed-sidebar .page-sidebar .company-detail-text {
      white-space: nowrap;
      overflow: hidden;
      opacity: 0;
      margin-top: -75px; }
    .page-sidebar-layout.closed-sidebar .page-sidebar .company-logo {
      transform: scale(0.5);
      margin-top: -50px; }
    .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab {
      padding: 0;
      margin-bottom: 20px;
      transform: translate(0, -90px); }
      .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab .module-link {
        height: 40px;
        width: 40px;
        border-radius: 15px; }
        .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab .module-link.active {
          background: #84b71c; }
          .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab .module-link.active img {
            filter: grayscale(100%) brightness(250%); }
          .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab .module-link.active::after, .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab .module-link.active::before {
            display: none; }
        .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-tab .module-link:hover .tips {
          opacity: 1; }
    .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-module-name {
      display: none; }
    .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu {
      padding: 0;
      transition: all 0.3s;
      transform: translate(0, -90px);
      overflow: unset;
      max-height: calc(100% - 305px); }
      .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li {
        padding: 10px 8px 7px 8px;
        text-align: center;
        position: relative; }
        .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li a span {
          transition: all 0.3s;
          display: none; }
        .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li .child {
          position: absolute;
          margin-left: 60px;
          padding-left: 0;
          width: 200px;
          background: #fff;
          top: 0;
          z-index: 1035;
          border-radius: 5px;
          padding: 10px 0; }
          .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li .child::before {
            position: absolute;
            content: '';
            top: 8px;
            left: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid #fff;
            z-index: 1030; }
          .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li .child li {
            text-align: left; }
            .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li .child li:first-child {
              margin-top: 0px; }
            .page-sidebar-layout.closed-sidebar .page-sidebar .sidebar-menu li .child li a span {
              display: inline-block; }
  .page-sidebar-layout.closed-sidebar .page-content {
    padding-left: 70px;
    transition: 0.3s padding-left; }
    .page-sidebar-layout.closed-sidebar .page-content .page-header {
      transition: 0.3s padding-left;
      padding-left: 100px; }

.toggle-sidebar {
  background: transparent;
  border: none;
  margin-top: 2px;
  filter: grayscale(100%) brightness(119%);
  cursor: pointer; }
  .toggle-sidebar:hover {
    filter: none; }
  .toggle-sidebar:focus {
    outline: none !important; }

.dropdown-toggle::after {
  display: none; }

.notification-dropdown,
.user-dropdown {
  border-radius: 15px 0 15px 15px;
  padding: 20px 20px 0 20px !important;
  margin-top: 26px !important;
  z-index: 1030;
  border: none;
  width: 300px; }
  .notification-dropdown.team-status,
  .user-dropdown.team-status {
    border-radius: 15px !important; }
  .notification-dropdown .user-dropdown-link,
  .user-dropdown .user-dropdown-link {
    padding-left: 0;
    list-style: none; }
    .notification-dropdown .user-dropdown-link li,
    .user-dropdown .user-dropdown-link li {
      padding: 7.5px 10px;
      font-weight: 400; }
      .notification-dropdown .user-dropdown-link li img,
      .user-dropdown .user-dropdown-link li img {
        vertical-align: -6px; }

.dropdown-title {
  padding: 5px 0 15px 0;
  border-bottom: #F9FAFB solid 2px;
  margin-bottom: 15px;
  font-weight: 500; }

.user-avatar .nav-link {
  color: #454F5B;
  margin-top: -4px; }

.user-avatar .avatar {
  width: 30px;
  height: 30px; }

.dt-mini-navbar {
  height: 60px;
  width: 100%;
  border-bottom: solid 2px #F9FAFB;
  position: relative; }
  .dt-mini-navbar.background-white {
    border-top: solid 1px #F9FAFB;
    background: #fff; }
  .dt-mini-navbar .dt-mini-menu {
    padding: 0;
    overflow: auto;
    margin: 0;
    white-space: nowrap;
    padding-bottom: 0px; }
    .dt-mini-navbar .dt-mini-menu .dt-mini-menu-item {
      position: relative;
      display: inline-block;
      list-style: none;
      padding: 18px 0px;
      border-bottom: 3px solid transparent;
      margin-right: 30px; }
      .dt-mini-navbar .dt-mini-menu .dt-mini-menu-item:last-child {
        margin-right: 60px; }
      .dt-mini-navbar .dt-mini-menu .dt-mini-menu-item .dt-mini-menu-link {
        color: #C4CDD5;
        font-weight: 600 !important; }
      .dt-mini-navbar .dt-mini-menu .dt-mini-menu-item.active {
        border-bottom: 2px solid #84b71c; }
        .dt-mini-navbar .dt-mini-menu .dt-mini-menu-item.active .dt-mini-menu-link {
          color: #000; }
      .dt-mini-navbar .dt-mini-menu .dt-mini-menu-item:hover .dt-mini-menu-link {
        color: #000; }

      .slider-circle{
        width: 40px;
        height: 40px;
        font-size: 27px;
        color: #fff;
        background: #84b71c;
        box-shadow: 0 2px 5px #84b71c45;
        text-align: center;
        border-radius: 50px;
        padding: 0px;
      }
      .price-point{
        background: #fbc531;
        text-align: center;
        color: #fff;
        z-index: 9999;
        font-weight: 600;
        font-size: 12px;
        padding: 2px 11px;
        border-radius: 50px;
    }
    .hover-icon{
        color: #84b71c;
        width: 37px;
        height: 37px;
        font-size: 23px;
        background: #fff;
        text-align: center;
        border-radius: 50px;
        line-height: 35px;
        border: 1px solid #84b71c;
    }
    .position-hover{
        position: absolute;
        left: 30%;
        bottom: -20px;
    }
    .modal .modal-info {
      min-height: 100px;
      max-width: 450px;
      margin: 200px auto; }
    
    .modal .modal-content {
      border: none;
      border-radius: 10px;
      padding: 0px !important; }
      .modal .modal-content.modal-white {
        background: #fff !important; }
    
    .modal .modal-body {
      padding: 25px;
      position: relative;
      overflow: auto; }
      .modal .modal-body .modal-title {
        margin-top: 0px !important;
        font-size: 20px !important;
        font-weight: 700; }
      .modal .modal-body .modal-section {
        font-size: 14px; }
        .modal .modal-body .modal-section p {
          font-size: 16px; }
      .modal .modal-body .close-button {
        float: right;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: #3BBEA5;
        text-align: center;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer; }
        .modal .modal-body .close-button img {
          height: 10px;
          width: 10px;
          margin-top: -8px; }
          .article-container .article-list .article-photo{
            height: 170px;
            opacity: 0.8;
        }
        .note-header{
            position: absolute;
            height: 100px;
            top: 0;
            width: 100%;
            left: 0;
            border-top: 4px solid #84b71c30;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: 2px solid #fafafa;
            padding: 15px;
            z-index: 1040;
            background: white;
        }
        .note-box .note-history .note-pusher{
            flex: unset; 
            min-height: unset; 
            margin-top: 123px;
        }
        .prev-circle{
          width: 40px;
          height: 40px;
          font-size: 27px;
          color: #fff;
          background: #84b71c;
          box-shadow: 0 2px 5px #84b71c45;
          text-align: center;
          border-radius: 50px;
          padding: 0px;
          position: absolute;
          left: -63px;
          top: 150px;
          z-index: 999;
      }
      .next-circle{
          width: 40px;
          height: 40px;
          font-size: 27px;
          color: #fff;
          background: #84b71c;
          box-shadow: 0 2px 5px #84b71c45;
          text-align: center;
          border-radius: 50px;
          padding: 0px;
          position: absolute;
          right: -63px;
          top: 150px;
          z-index: 999;
      }
      @media screen and (max-width: 1024px) {
          .prev-circle{
              left: -17px;
          }
          .next-circle{
              right: -17px;
          }
      }

      .box-green{
        color: #fff;
        background: linear-gradient(90deg,#84b71cba 0,#84b71ca3);
        box-shadow: 0 5px 20px 2.5px rgba(163, 201, 89, 0.15);
        border-radius: 25px;
        padding: 3rem;
    }
    .white-separator {
        height: 3px;
        background: #fff;
        width: 50px;
        opacity: 1 !important;
        margin-left: auto;
        display: inline-block;
    }
    .logo-bc {
        position: absolute;
        bottom: -1px;
        opacity: 0.2;
        z-index: 0;
        left: 0;
    }.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
.note-editor.note-frame{
    border: 2px solid #f7f7f7 !important;
}
.bio-desc{
  min-height: 70px;
}
.bio{
  height: 63px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.myAlert-top{
  top: 5px;
  width: auto;
}
.social-media-circle{
  width: 32px;
  height: 32px;
  padding: 5px;
  transition: .4s;
  text-align: center;
  background: #fff;
  color: #b5b3b3;
  border-radius: 50%;
  border: 2px solid #efececd9;
}