{% extends 'base_admin.html' %}
{% set active_page = 'pengguna' %}

{% block title %}
    <title>Admin | Tambah Data</title>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="myAlert-top alert alert-{{ messages[0][0] }}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for message in messages %}
            {% for key, value in message[1].items() %}
                <strong>{{ key }} :</strong> {{ value }}<br>
            {% endfor %}
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Create Admin
    </h2>
    <form method="POST" action="{{ url_for('admin_pengguna.admin_create') }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Masukkan username">
                </div>
                <div class="col-md-6">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Masukkan password">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Nama Lengkap</label>
                    <input type="text" name="fullname" class="form-control" placeholder="Masukkan nama lengkap">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Masukkan email">
                </div>
            </div>
        </div>
        <div class="mt-3">
            <a href="{{ url_for('admin_pengguna.admin') }}" class="btn btn-outline-primary mr-2">Batal</a>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
{% endblock %}