{% extends 'base_admin.html' %}
{% set active_page = 'pengguna' %}


{% block title %}
    <title>Admin | List Admin</title>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        List Admin
    </h2>
    {% if admins.count() != 0 %}
        <div class="d-flex mt-4">
            <div class="dt-search w-50">
                <form method="post" class="w-100" action="{{ url_for('admin_pengguna.admin') }}">
                    <div class="dt-search-box">
                        <div class="search-field">
                            <input type="text" name="search" class="search-input" placeholder="Cari berdasarkan nama" value="{{ search if search != None }}">
                        </div>
                        <div class="search-button">
                            <button type="submit" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ml-auto">
                <a href="{{ url_for('admin_pengguna.admin_create') }}" class="btn btn-primary">Tambah Data</a>
            </div>
        </div>
        <div class="modern-table-boxed">
            <div class="d-table-row header">
                <div class="d-table-cell">
                    Nama
                </div>
                <div class="d-table-cell">
                    Email
                </div>
                <div class="d-table-cell">
                    Status
                </div>
                <div class="d-table-cell shrink">
                    Opsi
                </div>
            </div>
            {% for admin in admins %}
                <div class="d-table-row">
                    <div class="d-table-cell">
                        {{ admin.username }}
                    </div>
                    <div class="d-table-cell">
                        {{ admin.email }}
                    </div>
                    <div class="d-table-cell">
                    <form style="margin: 0px; padding: 0px" method="POST" action="{{ url_for('admin_pengguna.change_status') }}">
                        <input type="text" style="display: none" name="id" value="{{ admin._id }}">
                        <select name="status" onchange="this.form.submit()" class="form-control w-50">
                            {% if admin.is_active == true %}
                                <option value="true">Aktif</option>
                                <option value="false">Tidak Aktif</option>
                            {% else %}
                                <option value="false">Tidak Aktif</option>
                                <option value="true">Aktif</option>
                            {% endif %}

                        </select>
                    </form>
                    </div>
                    <div class="d-table-cell shrink">
                        <a href="{{ url_for('admin_pengguna.admin_delete', id=admin._id) }}">
                            <img src="{{ url_for('static', filename='img/icon/delete.png') }}" width="18" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="mt-5">
            <center>
                <img src="{{ url_for('static', filename='img/empty.png') }}" style="border-radius: 20px">
                <div class="mt-4">
                    <h4 class="text-gray400">
                        Data Kosong...
                    </h4>
                </div>
            </center>
        </div>
    {% endif %}
{% endblock %}