{% extends 'base_admin.html' %}

{% block css %}
    <style>
        .myAlert-top{
            top: 5px;
            left:2%;
            width: auto;
        }
    </style>
{% endblock %}

{% block title %}
    <title>Edit Profile</title>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for message in messages %}
                {% for key, value in message[1].items() %}
                    <strong>{{ key }} :</strong> {{ value }}<br>
                {% endfor %}
            {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Edit Profile
    </h2>
    <form enctype="multipart/form-data" method="POST" action="{{ url_for('admin_profile.index') }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Nama Lengkap</label>
                    <input name="name" type="text" class="form-control" placeholder="Masukkan nama lengkap" value="{{ current_user.fullname }}">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Foto Profile</label>
                    <input name="avatar" type="file" class="form-control">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Nomor Hp</label>
                    <input name="phone" type="number" class="form-control" placeholder="Masukkan nomor Hp" value="{{ current_user.phone }}">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Facebook</label>
                    <input name="facebook" type="text" class="form-control" placeholder="Link Facebook" value="{{ current_user.facebook }}">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Twitter</label>
                    <input name="twitter" type="text" class="form-control" placeholder="Link Twitter" value="{{ current_user.twitter }}">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Instagram</label>
                    <input name="instagram" type="text" class="form-control" placeholder="Link Instagram" value="{{ current_user.instagram }}">
                </div>
                <div class="col-md-6 mt-3">
                    <label>LinkedIn</label>
                    <input name="linkedin" type="text" class="form-control" placeholder="Link LinkedIn" value="{{ current_user.linkedin }}">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Bio</label>
                    <textarea name="bio" rows="3" class="form-control" placeholder="Masukkan bio">{{ current_user.bio }}</textarea>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_welcome.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Simpan</button>
        </div>
    </form>
{% endblock %}