{% extends 'base_admin.html' %}
{% set active_page = 'berasmerah' %}

{% block title %}
    <title>Admin | Tambah Data</title>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
        <div class="myAlert-top alert alert-{{ messages[0][0] }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    {% for key, value in message[1].items() %}
                        <strong>{{ key }} :</strong> {{ value }}<br>
                    {% endfor %}
                {% endfor %}
        </div>
  {% endif %}
{% endwith %}
    <h2 class="fw-medi">
        Tambah Data
    </h2>
    <form enctype="multipart/form-data" method="POST" action="{{ url_for('admin_berasmerah.create') }}">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <label>Nama Produk</label>
                    <input type="text" name="productname" class="form-control" placeholder="Masukkan judul iklan">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Harga Produk</label>
                    <input type="number" name="productprice" class="form-control" placeholder="Masukkan harga produk">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Gambar</label>
                    <input type="file" name="productpicture" class="form-control">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Nomor Whatsapp</label>
                    <input type="number" name="productWAnumber" class="form-control" placeholder="Masukkan no whatsapp">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Deskripsi</label>
                    <textarea name="productdesc" rows="3" class="form-control" placeholder="Masukkan deskripsi produk"></textarea>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('admin_berasmerah.index') }}" class="btn btn-outline-primary mr-2 mt-3">Batal</a>
            <button type="submit" class="btn btn-primary mt-3">Simpan</button>
        </div>
    </form>
{% endblock %}