{% extends 'base_admin.html' %}

{% block title %}
    <title>Admin | Tambah Data</title>
{% endblock %}

{% block content %}
    <h2 class="fw-medi">
        Tambah Visitor
    </h2>
    <form method="POST" action="">
        <div class="box mt-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Nama Lengkap</label>
                    <input type="text" class="form-control" placeholder="Masukkan nama lengkap">
                </div>
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Masukkan email">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Jabatan</label>
                    <input type="text" class="form-control" placeholder="Masukkan Jabatan">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Foto Profile</label>
                    <input type="file" class="form-control">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Nomor Hp</label>
                    <input type="number" class="form-control" placeholder="Masukkan nomor Hp">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Masukkan username">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Passwod</label>
                    <input type="password" class="form-control" placeholder="Masukkan password">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Facebook</label>
                    <input type="text" class="form-control" placeholder="Link Facebook">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Twitter</label>
                    <input type="text" class="form-control" placeholder="Link Twitter">
                </div>
                <div class="col-md-6 mt-3">
                    <label>Instagram</label>
                    <input type="text" class="form-control" placeholder="Link Instagram">
                </div>
                <div class="col-md-6 mt-3">
                    <label>LinkedIn</label>
                    <input type="text" class="form-control" placeholder="Link LinkedIn">
                </div>
                <div class="col-md-12 mt-3">
                    <label>Bio</label>
                    <textarea name="" rows="3" class="form-control" placeholder="Masukkan bio"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <a href="{{ url_for('admin_pengguna.admin') }}" class="btn btn-outline-primary mr-2">Batal</a>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
{% endblock %}