<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Under Construction</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{{ url_for('static', filename='maintenance/css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='maintenance/css/styles.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='maintenance/css/responsive.css') }}" rel="stylesheet">
	<style>
		.container{
			width: 1340px;
		}
	</style>
</head>
<body>
	
	<div class="main-area">
		<div class="container full-height position-static">
			<section class="left-section full-height">
				<a class="logo" href="#">
					<img src="{{ url_for('static', filename='maintenance/images/logo.png') }}" alt="Logo">
				</a>
				<div class="display-table">
					<div class="display-table-cell">
						<div class="main-content">
							<h1 class="title mt-5">
								<b>
									Under<br>
									Construction
								</b>
							</h1>
							<p>
								Situs web kami saat ini sedang menjalani pemeliharaan terjadwal. Kami harus segera kembali. Terima kasih atas kesabaran Anda.
							</p>
						</div>
					</div>
				</div>
				
				<ul class="footer-icons">
					<li>
						Hubungi kami :
					</li>
					<li><a href="https://www.instagram.com/lumbungtani.id/"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://twitter.com/LumbungTaniID"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
				</ul>
		
			</section>
			<section class="right-section small-none" style="background-image: url({{ url_for('static', filename='maintenance/images/1.jpg') }})">
			</section>
		</div>
	</div>
</body>
</html>